<div class='section dashboard'>
    <h1 class='dashboard__header'>Dashboard</h1>

    <div class="line-divider"></div>

    <div class='dashboard__btn-container' *ngIf='!authService.isLoggedIn()'>
        <a class='btn dashboard__btn' [routerLink]="['/admin/login']">Login</a>
        <a class='btn dashboard__btn' [routerLink]="['/admin/register']">Register</a>
    </div>

    <div class='dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
        <h2>Blog</h2>
        <br>
        <a class='btn dashboard__btn' [routerLink]="['/editor']" [queryParams]='{type: "post"}'>
            Create Post
        </a>
        <a class='btn dashboard__btn' [routerLink]="['/editor']" [queryParams]='{type: "topic"}'>
            Create Topic
        </a>
        <br>
    </div>

    <div class='dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
        <h2>Portfolio</h2>
        <br>
        <a class='btn dashboard__btn' [routerLink]="['/editor']" [queryParams]='{type: "profile"}'>
            Create Profile
        </a>
        <a class='btn dashboard__btn' [routerLink]="['/editor']" [queryParams]='{type: "project"}'>
            Create Project
        </a>
        <br>
    </div>

    <div class='dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
        <h2>Profiles:</h2>
        <br>
        <div class='dashboard__profile-btn-row' *ngFor='let profile of profileService.getProfiles()'>
            <button
                    [ngClass]="{'btn--active': profile.status.status == 'ACTIVE' }"
                    class='btn dashboard__profile-btn'
                    (click)='changeProfile(profile)'
                    type='button'
            >
                {{ profile.name }}
            </button>

            <button
                    class='btn dashboard__profile-btn--edit'
                    (click)='sendProfileToEditor(profile)'
                    routerLink='/editor'
                    [queryParams]='{type: "profile", id: profile.id}'
            >
                &#x270F;
            </button>
            <button
                    class='btn dashboard__profile-btn--edit btn--warn'
                    (click)='deleteProfile(profile)'
                    type='button'
            >
                &#x2715;
            </button>
        </div>

        <br><br>
    </div>

    <div class='dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
        <a class='btn dashboard__btn btn--warn' (click)="onLogoutClick()">Logout</a>
    </div>
</div>
