@import 'variables';

.dashboard {
    min-height: calc(99vh - #{$header-height} - #{$footer-height} * 2 - #{$section-divider-height});
}

.dashboard__header {
    text-align: center;
    margin-bottom: $margin;
}

.dashboard__container {
    display: grid;
    grid-gap: $margin;
}

.dashboard__portfolio-btn-container,
.dashboard__profile-btn-container,
.dashboard__blog-btn-container,
.dashboard__shop-btn-container,
.dashboard__logout-btn-container, {
    grid-column: 1 / 2;
}

.dashboard__portfolio-btn-container {
    grid-row: 1 / 2;
}

.dashboard__profile-btn-container {
    grid-row: 2 / 3;
}

.dashboard__blog-btn-container {
    grid-row: 3 / 4;
}

.dashboard__shop-btn-container {
    grid-row: 4 / 5;
}

.dashboard__logout-btn-container {
    grid-row: 5 / 6;
}

.dashboard__btn-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.dashboard__btn {
    height: $btn-height;
    line-height: $btn-height;
    margin-bottom: $half-margin;
    width: $large-btn-width;
}

.dashboard__profile-btn-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $quarter-margin;
}

.dashboard__profile-btn {
    font-size: 100%;
    height: auto;
    padding: $quarter-padding;
    margin: 0 $half-margin;
    width: $btn-width;

    &--edit {
        font-size: 120%;
        height: 36px;
        line-height: 36px;
        margin: 0 $eighth-margin;
        width: $extra-small-btn-width;
    }
}

.dashboard__profile-header {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    ::ng-deep .section-divider {
        height: 3.9vh;
    }

    .dashboard {
        min-height: calc(99vh - #{$header-height} - #{$footer-height} * 2 - #{$section-divider-height});
    }

    .dashboard__portfolio-btn-container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .dashboard__profile-btn-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .dashboard__blog-btn-container {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .dashboard__shop-btn-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .dashboard__logout-btn-container {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
}
