<div class='section home-shop'>
    <h2 class='home-shop__header'>Shop</h2>

    <div class='line-divider'></div>

    <p class='home-shop__description'>
        In the past two years, I have started developing plugins and working more with
        the programming and mathematical facets of audio. I find that the "noisier" and
        "manglier" algorithms inspire interesting ways of generating audio, so I try to
        put them into plugins (among other things) for all artists, producers, and engineers
        to enjoy working with.
    </p>

    <p class='home-shop__description'>
        I would love to hear anything that you've been up to with them, so please feel free
        to reach out - let's start a conversation!
    </p>

    <a
        class='btn home-shop__shop-btn'
        routerLink='/shop'
    >
        See Shop
    </a>
</div>
