@import 'variables';

.about {
    color: $color-white;
    background-color: $color-dark;
    border-bottom: 1px solid $color-white;
    height: auto;
    padding: 0 $padding-side;
}

.about__header {
    margin-bottom: $margin-bottom;
}

.about__description {
    color: $color-light;
    margin-bottom: $margin-bottom;
}

.about__technology-list {
    margin-bottom: $margin-bottom;
}

.about__technology-list-item {
}

.about__portrait-container {
    margin-bottom: $margin-bottom;
}

.about__portrait {
    box-shadow: 0px 0px 5px $color-dark;
    height: auto;
    margin-bottom: $margin-bottom;
    width: 100%;
}