@import 'variables';

.faq {
    min-height: calc(99vh - #{$header-height} - #{$footer-height} * 1 - #{$section-divider-height});
}

.faq__header {
    text-align: center;
}

.faq__info {
    margin-bottom: $margin;
}

.faq__categories {

}

.faq__category {
    margin-bottom: $margin;
}

.faq__category-header-container {
    display: flex;
    flex-direction: row;
}

.faq__category-header {
    font-size: 150%;
    font-weight: 700;
    margin-bottom: $half-margin;
}

.faq__category-info {
    align-content: center;
    flex-direction: column;
    margin: 0 $margin;
    height: auto;

    &--show {
        display: flex;
    }

    &--hidden {
        display: none;
    }
}

.faq__category-info-q-container,
.faq__category-info-q-container {
    min-height: $margin;
}

.faq__category-info-q-container {
    height: auto;
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: $half-margin;

    &--show {
        + .faq__category-info-a-container {
            display: flex;
        }
    }

    &--hidden {
        + .faq__category-info-a-container {
            display: none;
        }
    }

    .faq__category-info-q-btn {

    }

    .faq__category-info-q {
        color: $color-white;
        min-height: $margin;
    }
}

.faq__category-info-a-container {
    height: auto;
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: $margin;

    .faq__category-info-a-btn {
        opacity: 0.0;
    }

    .faq__category-info-a-p-container {
        p {
            margin-bottom: $quarter-margin;
        }
    }

    .faq__category-info-a {
        color: $color-white;
    }
}

.faq__category-header-btn {
    margin-right: $margin;
}

.faq__category-header-btn,
.faq__category-info-q-btn,
.faq__category-info-a-btn {
    border: none;
    font-size: 120%;
    max-height: $margin;
    min-width: $small-btn-width;
}

.faq__category-info-q-btn,
.faq__category-info-a-btn {
    margin: 0 $half-margin 0 $margin;
}

.faq__email-form {
    margin-top: $margin;

    .faq__email-form-label {
        font-size: 110%;
    }
}

::ng-deep code {
    background-color: $color-dark-light;
    box-sizing: border-box;
    color: $color-white;
    margin: 0 calc(#{$quarter-margin} / 2);
    padding: calc(#{$quarter-padding} / 4) calc(#{$quarter-padding} / 2);
}

::ng-deep .text {
    &--note {
        color: $color-primary;

        &-paragraph {
            color: $color-primary-light;
        }
    }

    &--caution {
        color: $color-caution;

        &-paragraph {
            color: $color-caution-light;
        }
    }

    &--warn {
        color: $color-warn;

        &-paragraph {
            color: $color-warn-light;
        }
    }

    &--tip {
        color: $color-go;

        &-paragraph {
            color: $color-go-light;
        }
    }
}

@media only screen and (min-width: 768px) {
    .faq {
        min-height: calc(100vh - #{$header-height} - #{$footer-height} * 2 - #{$section-divider-height});
    }
}
