<div class='section faq'>
    <h1 class='faq__header'>Shop FAQ</h1>

    <div class='line-divider'></div>

    <p class='faq__info'>
        Thanks for visiting my shop and the FAQ page. If you can't find the answers to your questions
        as always I am available via
        <a class='text-link faq__info-link' (click)='obfuscationService.handleEmailClick($event)' [href]='"mailto:" + obfuscationService.constructEmail()'>
            email
        </a> so please reach out. Cheers!
    </p>

    <div class='faq__categories'>
        <div class='faq__category'>
            <div class='faq__category-header-container'>
                <button class='btn faq__category-header-btn' (click)='toggleCategory("compatibility", $event)'>
                    &#x2b;
                </button>
                <p class='faq__category-header'>Compatibility</p>
            </div>

            <div id='faq__compatibility' class='faq__category-info faq__category-info--hidden'>
                <div id='faq__compatibility-q-1' class='faq__category-info-q-container faq__category-info-q-container--hidden'>
                    <button class='btn faq__category-info-q-btn' (click)='toggleAnswer("faq__compatibility-q-1", $event)'>
                        &#x2b;
                    </button>
                    <p class='faq__category-info-q'>
                        What operating systems do your plugins support?
                    </p>
                </div>

                <div class='faq__category-info-a-container faq__category-info-a-container--hidden'>
                    <button class='btn faq__category-info-a-btn'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-a'>
                            All of my plugins are currently supported on Windows 10 and MacOS (including Big Sur).
                        </p>
                    </div>
                </div>

                <div id='faq__compatibility-q-2' class='faq__category-info-q-container faq__category-info-q-container--hidden'>
                    <button class='btn faq__category-info-q-btn' (click)='toggleAnswer("faq__compatibility-q-2", $event)'>
                        &#x2b;
                    </button>
                    <p class='faq__category-info-q'>
                        What plugin formats do you support?
                    </p>
                </div>

                <div class='faq__category-info-a-container faq__category-info-a-container--hidden'>
                    <button class='btn faq__category-info-a-btn'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-a'>
                            I am currently supporting only VST3 and AU formats. I would like to support more such as VST and AAX but
                            unfortunately do not at the moment (see more on that below).
                        </p>
                    </div>
                </div>

                <div id='faq__compatibility-q-3' class='faq__category-info-q-container faq__category-info-q-container--hidden'>
                    <button class='btn faq__category-info-q-btn' (click)='toggleAnswer("faq__compatibility-q-3", $event)'>
                        &#x2b;
                    </button>
                    <p class='faq__category-info-q'>
                        What about MacOS ARM processors?
                    </p>
                </div>

                <div class='faq__category-info-a-container faq__category-info-a-container--hidden'>
                    <button class='btn faq__category-info-a-btn'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-a'>
                            At the moment, I am regretfully unable to verify whether my plugins function properly and as intended on the Mac machines
                            with ARM processors. Hopefully this will change in the future if I can get some testing done on one of those machines.
                        </p>
                    </div>
                </div>

                <div id='faq__compatibility-q-4' class='faq__category-info-q-container faq__category-info-q-container--hidden'>
                    <button class='btn faq__category-info-q-btn' (click)='toggleAnswer("faq__compatibility-q-4", $event)'>
                        &#x2b;
                    </button>
                    <p class='faq__category-info-q'>
                        Are your plugins available in the older VST format?
                    </p>
                </div>

                <div class='faq__category-info-a-container faq__category-info-a-container--hidden'>
                    <button class='btn faq__category-info-a-btn'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-a'>
                            No, unfortunately... Steinberg stopped allowing developers to release plugins using the older VST SDK
                            unlease they had an already-existing product they were selling in that format. Not surprisingly though, VST3
                            has quite a few advantages over VST such as dynamic I/O, silence flagging, and more. Check out the
                            <a class='text-link faq__category-info-link' href='https://github.com/steinbergmedia/vst3sdk#about-vst-3' target='_blank'>
                                README
                            </a> on Steinberg's VST3 GitHub repo to see more about the differences.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class='faq__category'>
            <div class='faq__category-header-container'>
                <button class='btn faq__category-header-btn' (click)='toggleCategory("installation", $event)'>
                    &#x2b;
                </button>
                <p class='faq__category-header'>Installation</p>
            </div>

            <div id='faq__installation' class='faq__category-info faq__category-info--hidden'>
                <div id='faq__installation-q-1' class='faq__category-info-q-container faq__category-info-q-container--hidden'>
                    <button class='btn faq__category-info-q-btn' (click)='toggleAnswer("faq__installation-q-1", $event)'>
                        &#x2b;
                    </button>
                    <p class='faq__category-info-q'>
                        How do install and use your plugins?
                    </p>
                </div>

                <div class='faq__category-info-a-container faq__category-info-a-container--hidden'>
                    <button class='btn faq__category-info-a-btn'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-a'>
                            I do not have an installer currently implemented for the plugins, so you will have to copy the
                            plugin binaries from the downloads into the appopriate folder on your system. For usage, most downloads
                            will have user manuals to help you out.
                        </p>
                        <p class='faq__category-info-a'>
                            For MacOS, these directories are usually either <code>/Library/Audio/Plug-Ins/VST3/</code>
                            or <code>/Library/Audio/Plug-Ins/Components/</code>. On Windows, this directory is
                            <code>C:\Program Files\Common Files\VST3\</code>.
                        </p>
                        <p class='faq__category-info-a'>
                            <span class='text--caution'>
                                CAUTION:
                            </span>
                            <span class='text--caution-paragraph'>
                                If your DAW is open while copying over the files, it is most likely that they
                                won't be recognized until the DAW is closed and re-opened.
                            </span>
                        </p>
                    </div>
                </div>

                <div id='faq__installation-q-2' class='faq__category-info-q-container faq__category-info-q-container--hidden'>
                    <button class='btn faq__category-info-q-btn' (click)='toggleAnswer("faq__installation-q-2", $event)'>
                        &#x2b;
                    </button>
                    <p class='faq__category-info-q'>
                        I installed the plugin, but it isn't showing up in my DAW?
                    </p>
                </div>

                <div class='faq__category-info-a-container faq__category-info-a-container--hidden'>
                    <button class='btn faq__category-info-a-btn'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-a'>
                            If you installed it while the DAW was open, then sometimes it requires closing and re-opening
                            the program for the new plugin files to be detected. I am not too familiar with most other DAWs
                            besides Ableton, but like Ableton they may have an ability to re-scan the plugin folders somewhere
                            in the preferences menu.
                        </p>
                        <p class='faq__category-info-a'>
                            If none of that works, then send me an
                            <a class='text-link faq__category-info-link' (click)='obfuscationService.handleEmailClick($event)' [href]='"mailto:" + obfuscationService.constructEmail()'>
                                email
                            </a> and we can troubleshoot it together!
                        </p>
                    </div>
                </div>

                <div id='faq__installation-q-3' class='faq__category-info-q-container faq__category-info-q-container--hidden'>
                    <button class='btn faq__category-info-q-btn' (click)='toggleAnswer("faq__installation-q-3", $event)'>
                        &#x2b;
                    </button>
                    <p class='faq__category-info-q'>
                        How do I uninstall a plugin?
                    </p>
                </div>

                <div class='faq__category-info-a-container faq__category-info-a-container--hidden'>
                    <button class='btn faq__category-info-a-btn'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-a'>
                            Simply deleting the plugin binary file (.vst3 or .component) from the directory where you intially
                            installed it should do the trick.
                        </p>
                        <p class='faq__category-info-a'>
                            If there is an issue with the plugin, I would love to hear about it. Please send
                            me an
                            <a class='text-link faq__category-info-link' (click)='obfuscationService.handleEmailClick($event)' [href]='"mailto:" + obfuscationService.constructEmail()'>
                                email
                            </a> with some details and I can start looking into how to make it better for you!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class='faq__category'>
            <div class='faq__category-header-container'>
                <button class='btn faq__category-header-btn' (click)='toggleCategory("purchasing", $event)'>
                    &#x2b;
                </button>
                <p class='faq__category-header'>Purchasing</p>
            </div>

            <div id='faq__purchasing' class='faq__category-info faq__category-info--hidden'>
                <div id='faq__purchasing-q-1' class='faq__category-info-q-container faq__category-info-q-container--hidden'>
                    <button class='btn faq__category-info-q-btn' (click)='toggleAnswer("faq__purchasing-q-1", $event)'>
                        &#x2b;
                    </button>
                    <p class='faq__category-info-q'>
                        Do I need an account to use your shop?
                    </p>
                </div>

                <div class='faq__category-info-a-container faq__category-info-a-container--hidden'>
                    <button class='btn faq__category-info-a-btn'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-a'>
                            Not at all! The only important piece of information I need from you is your email
                            so that I can send you download URLs for products you purchase. I designed the shop
                            to be pretty minimal in terms of customer interaction to make things easier for everyone!
                        </p>

                        <p class='faq__category-info-a'>
                            <span class='text--note'>
                                NOTE:
                            </span>
                            <span class='text--note-paragraph'>
                                I will ONLY be sending emails either when you make a purchase or use the form
                                below to get all of your downloads. I will NOT be spamming you with newsletters or
                                anything like that.
                            </span>
                        </p>
                    </div>
                </div>

                <div id='faq__purchasing-q-2' class='faq__category-info-q-container faq__category-info-q-container--hidden'>
                    <button class='btn faq__category-info-q-btn' (click)='toggleAnswer("faq__purchasing-q-2", $event)'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-q'>
                            How can I download products I've already purchased?
                        </p>
                    </div>
                </div>

                <div class='faq__category-info-a-container faq__category-info-a-container--hidden'>
                    <button class='btn faq__category-info-a-btn'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-a'>
                            Please enter the following information to receive an email
                            containing download URLs.
                        </p>
                        <form class='faq__email-form' [formGroup]='emailForm' (ngSubmit)='onEmailSubmit()'>
                            <div class='form-field editor__form-field'>
                                <label class='faq__email-form-label form-field-label editor__form-field-label'>Email</label>
                                <br><br>
                                <input formControlName='email' required autofocus>
                            </div>

                            <button
                                    aria-label='Submit email'
                                    [ngClass]="{'btn--inactive': !emailForm.valid}"
                                    class='btn editor__form-btn  editor__form-btn--submit'
                                    [disabled]='!emailForm.valid'
                            >
                                <ng-container *ngIf='!isSubmittingEmail'>
                                    Submit
                                </ng-container>
                                <ng-container *ngIf='isSubmittingEmail'>
                                    <div class='btn-loader-container'>
                                        <div class='btn-loader'></div>
                                    </div>
                                </ng-container>
                            </button>
                        </form>
                    </div>
                </div>

                <div id='faq__purchasing-q-3' class='faq__category-info-q-container faq__category-info-q-container--hidden'>
                    <button class='btn faq__category-info-q-btn' (click)='toggleAnswer("faq__purchasing-q-3", $event)'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-q'>
                            What payment methods do you accept?
                        </p>
                    </div>
                </div>

                <div class='faq__category-info-a-container faq__category-info-a-container--hidden'>
                    <button class='btn faq__category-info-a-btn'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-a'>
                            I currently am accepting card payments via the Stripe Checkout sessions, which
                            allows for several major brand debit and credit cards.
                        </p>
                        <span class='text--note'>
                                NOTE:
                            </span>
                        <span class='text--note-paragraph'>
                            Alternatively, I am open to accepting payment in cryptocurrencies (only IOTA, ETH, and BTC). I have no support for this built-in to the shop, so you will have to send me an
                            <a class='text-link faq__category-info-link' href='https://stripe.com/'>
                                email
                            </a>, so I can create the order manually.
                        </span>
                    </div>
                </div>

                <div id='faq__purchasing-q-4' class='faq__category-info-q-container faq__category-info-q-container--hidden'>
                    <button class='btn faq__category-info-q-btn' (click)='toggleAnswer("faq__purchasing-q-4", $event)'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-q'>
                            How do I know that your handling payments securely?
                        </p>
                    </div>
                </div>

                <div class='faq__category-info-a-container faq__category-info-a-container--hidden'>
                    <button class='btn faq__category-info-a-btn'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-a'>
                            I implemented
                            <a class='text-link faq__category-info-link' href='https://stripe.com/'>
                                Stripe
                            </a> (specifically
                            <a class='text-link faq__category-info-link' href='https://stripe.com/payments/checkout'>
                                Stripe Checkout
                            </a>) to handle the important details of the transaction and payment. This service
                            is used abundantly across the internet for all sorts of ecommerce platforms,
                            even including organizations like Google and Amazon.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class='faq__category'>
            <div class='faq__category-header-container'>
                <button class='btn faq__category-header-btn' (click)='toggleCategory("troubleshooting", $event)'>
                    &#x2b;
                </button>
                <p class='faq__category-header'>Troubleshooting</p>
            </div>

            <div id='faq__troubleshooting' class='faq__category-info faq__category-info--hidden'>
                <div id='faq__troubleshooting-q-1' class='faq__category-info-q-container faq__category-info-q-container--hidden'>
                    <button class='btn faq__category-info-q-btn' (click)='toggleAnswer("faq__troubleshooting-q-1", $event)'>
                        &#x2b;
                    </button>
                    <p class='faq__category-info-q'>
                        I found a bug - who should I tell?
                    </p>
                </div>

                <div class='faq__category-info-a-container faq__category-info-a-container--hidden'>
                    <button class='btn faq__category-info-a-btn'>
                        &#x2b;
                    </button>
                    <div class='faq__category-info-a-p-container'>
                        <p class='faq__category-info-a'>
                            Please
                            <a class='text-link faq__category-info-link' (click)='obfuscationService.handleEmailClick($event)' [href]='"mailto:" + obfuscationService.constructEmail()'>
                                email
                            </a> me with a bug report, and I will look into getting it fixed.
                            If the project has a corresponding GitHub repository, then
                            I will most likely create an offical "issue" on there, which you are
                            more than welcome to checkout and follow!
                        </p>
                        <p class='faq__category-info-a'>
                            <span class='text--note'>
                                NOTE:
                            </span>
                            <span class='text--note-paragraph'>
                                If you are able to find the product's repository, feel free to open an
                                issue there yourself!
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
