@import 'variables';

.faq {
    min-height: calc(99vh - #{$header-height} - #{$footer-height} * 1 - #{$section-divider-height});
}

.faq__header {
    text-align: center;
}

.faq__categories {

}

.faq__category {
    margin-bottom: $margin;
}

.faq__category-header-container {
    display: flex;
    flex-direction: row;
}

.faq__category-header {
    font-size: 150%;
    font-weight: 700;
    margin-bottom: $half-margin;
}

.faq__category-info {
    align-content: center;
    flex-direction: column;
    margin-left: $margin;
    width: 100%;

    &--show {
        display: flex;
    }

    &--hidden {
        display: none;
    }
}

.faq__category-info-q-container,
.faq__category-info-q-container {
    min-height: $margin;
}

.faq__category-info-q-container {
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: $quarter-margin;

    &--show {
        + .faq__category-info-a-container {
            display: flex;
        }
    }

    &--hidden {
        + .faq__category-info-a-container {
            display: none;
        }
    }

    .faq__category-info-q-btn {

    }

    .faq__category-info-q {
        color: $color-white;
        min-height: $margin;
    }
}

.faq__category-info-a-container {
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: $half-margin;

    .faq__category-info-a-btn {
        opacity: 0.0;
    }

    .faq__category-info-a {

    }
}

.faq__category-header-btn {
    margin-right: $margin;
}

.faq__category-header-btn,
.faq__category-info-q-btn,
.faq__category-info-a-btn {
    border: none;
    font-size: 120%;
    max-height: $margin;
    min-width: $small-btn-width;
}

.faq__category-info-q-btn,
.faq__category-info-a-btn {
    margin: 0 $half-margin 0 $margin;
}

@media only screen and (min-width: 768px) {
    .faq {
        min-height: calc(100vh - #{$header-height} - #{$footer-height} * 2 - #{$section-divider-height});
    }
}
