<div class='shop' *ngIf='isLoaded; else loading'>
    <h1 class='shop__header'>Welcome to my shop!</h1>

    <div class='section shop__categories'>
        <h2 class='shop__filter-header'>Categories</h2>

        <div class='line-divider'></div>

        <div class='shop__filter-btn-container'>
            <div class='shop__filter-btn-row shop__filter-btn-row--all'>
                <button
                        aria-label='Select all categories'
                        [ngClass]="{'btn--active': activeCategoryId === -1, 'shop__filter-btn--half': isAdmin}"
                        class='btn shop__filter-btn shop__filter-btn--all'
                        type='button'
                >
                    All
                </button>

                <ng-container *ngIf='isAdmin'>
                    <button aria-label='Edit shop category' class='btn shop__filter-btn--add btn--go' routerLink=''>
                        &#x2b;
                    </button>
                </ng-container>
            </div>

            <div class='shop__filter-btn-row' *ngFor='let c of categories trackBy: this.trackingService.objectById'>
                <button
                        aria-label='Filter shop category'
                        [ngClass]="{'btn--active': c.id === activeCategoryId, 'shop__filter-btn--half': isAdmin}"
                        class='btn shop__filter-btn'
                        (click)='filterProducts(c.id)'
                        type='button'
                >
                    {{ c.name }}
                </button>

                <ng-container *ngIf='isAdmin'>
                    <button
                            aria-label='Edit blog topic'
                            class='btn shop__filter-btn--edit'
                            (click)='sendCategoryToEditor(c)'
                            routerLink='/shop/topics/editor'
                    >
                        &#x270F;
                    </button>
                    <button
                            aria-label='Delete shop topic'
                            class='btn shop__filter-btn--edit btn--warn'
                            (click)='deleteCategory(c)'
                            type='button'
                    >
                        &#x2715;
                    </button>
                </ng-container>
            </div>
        </div>
    </div>

    <ui-shop-product-collection [products]='products' baseRoute='products/'></ui-shop-product-collection>
</div>

<ng-template #loading>
    <ui-loading-spinner></ui-loading-spinner>
</ng-template>
