<div class='section about'>
    <h2 class='about__header'>About</h2>

    <div class='about__line-divider line-divider'></div>

    <div class='about__container'>
        <div class='about__description-text'>
            <p class='about__description'>
                {{ paragraph }}
            </p>

            <p class='about__description'>
                To get a better idea of the work that I do, please feel free to checkout my
                <a class='text-link about__description--link' href='https://github.com/maxwellmattryan' target='_blank' rel='noopener noreferrer'>
                    GitHub
                </a>
                or even the
                <a class='text-link about__description--link' href='https://github.com/maxwellmattryan/mattmaxwell' target='_blank' rel='noopener noreferrer'>
                    repository
                </a> behind this application.
                Otherwise, here are some of the technologies that I work with:
            </p>
            <ul class='about__technology-list'>
                <li class='about__technology-list-item' *ngFor='let technology of technologies trackBy: this.trackingService.objectById'>
                    {{ technology.name }}
                </li>
            </ul>
        </div>

        <div class='about__portrait-container'>
            <picture>
                <source [srcset]='fileService.getImageUri(imageUrl, "webp")' type="image/webp">
                <source [srcset]='fileService.getImageUri(imageUrl, "png")' type='image/png'>
                <img class='about__portrait' alt='Profile image' [src]='imageUrl.substring(0, imageUrl.length - 4) + "png"'>
            </picture>
        </div>
    </div>
</div>