@import 'variables';

.btn {
    background-color: $color-dark;
    border: 2px solid $color-primary;
    border-radius: 1000px;
    color: $color-primary;
    height: $btn-height;
    margin-bottom: $quarter-margin;
    text-align: center;

    &--active, &:active {
        background-color: $color-primary;
        color: $color-dark;
    }

    &--inactive {
        border: 2px solid $color-light;
        color: $color-light;
    }

    &--go {
        border: 2px solid $color-go;
        color: $color-go;
    }

    &--go:active {
        background-color: $color-go;
        color: $color-dark;
    }

    &--warn {
        border: 2px solid $color-warn;
        color: $color-warn;
    }

    &--warn:active {
        background-color: $color-warn;
        color: $color-dark;
    }
}