@import 'variables';

.line-divider {
    background: $color-light;
    height: $line-divider-height;
    margin: $margin-bottom 0;
}

.section-divider {
    background: $color-dark;
    height: $section-divider-height;
}