// COLORS
$color-white: rgb(252, 253, 255);
$color-light: rgb(172, 181, 199);
$color-primary: rgb(188, 213, 255);
$color-secondary: rgb(75, 97, 133);
$color-dark: rgb(64, 72, 87);

// LAYOUTS
$footer-height: 6vh;
$header-height: 8vh;
$image-height: 50vh;
$page-height: 92vh;

$line-divider-height: 1.5px;
$section-divider-height: 20vh;

// MARGIN
$margin-bottom: 2rem;

// PADDING
$padding-side: 2rem;
$half-padding-side: 1rem;

// ANIMATION
$sidebar-transition: 0.4s;
$active-link-transition: 0.1s;