// COLORS
$color-white: rgb(252, 253, 255);
$color-light: rgb(172, 181, 199);
$color-primary: rgb(188, 213, 255);
$color-secondary: rgb(90, 111, 145);
$color-dark: rgb(64, 72, 87);

// LAYOUTS
$header-height: 8vh;
$footer-height: 6vh;
$page-height: 92vh;

// MARGIN
$margin-bottom: 1.5rem;

// PADDING
$padding-side: 2rem;

// ANIMATION
$sidebar-transition: 0.4s;
$active-link-transition: 0.1s;