// COLORS
$color-white: rgb(252, 253, 255);
$color-light: rgb(172, 181, 199);
$color-primary: rgb(188, 213, 255);
$color-secondary: rgb(75, 97, 133);
$color-dark: rgb(64, 72, 87);

// LAYOUTS
$footer-height: 6vh;
$header-height: 8vh;
$image-height: 50vh;
$page-height: 92vh;

$line-divider-height: 1.5px;
$section-divider-height: 15vh;

// BUTTONS
$btn-height: 4vh;
$small-btn-height: 1.5vh;

// INPUT
$input-height: 3vh;
$textarea-height: 15vh;

// MARGIN
$margin: 2rem;
$half-margin: 1rem;
$quarter-margin: 0.5rem;

// PADDING
$padding: 2rem;
$half-padding: 1rem;
$quarter-padding: 0.5rem;

// ANIMATION
$sidebar-transition: 0.3s;
$active-link-transition: 0.15s;