<div class='section-container home-view' *ngIf="isLoaded">
    <app-landing [tagline]='homepage.profile.tagline' [landing]='homepage.profile.landing'></app-landing>
    <app-about [paragraph]='homepage.profile.about' [technologies]='homepage.profile.technologies' [imageUrl]='homepage.profile.image_url'></app-about>
    <div class="section-divider"></div>
    <app-project-collection [projects]='homepage.profile.projects'></app-project-collection>
    <div class="section-divider"></div>
    <app-post-collection [posts]="homepage.posts" [showTopics]='true' [showPreview]='true'></app-post-collection>
    <div class='section-divider'></div>
</div>
