<div *ngIf='isLoaded'>
    <div *ngIf='this.isAdmin'>
        <a (click)='sendPostToEditor()' [routerLink]='["/editor"]' class="btn btn-primary">Edit Post</a>
        <a (click)='deletePost()' [routerLink]='["/blog"]' class="btn btn-secondary">Delete Post</a>
        <br>
    </div>

    <h1>{{ post.title }}</h1>
    <h2>{{ post.subtitle }}</h2>
    
    <p [innerHtml]='"Published: " + this.getFormattedDate()'></p>

    <a [routerLink]='["/blog/topics/" + topic.uri]' *ngFor='let topic of post.topics'>
        <p>
            {{ topic.name }}
        </p>
    </a>
    
    <p>{{ post.author }}</p>
    
    <img [src]='post.imageURL' height=150>

    <markdown [data]='post.content'></markdown>
</div>