<div class='section projects'>
    <h2 class='projects__header'>Projects</h2>

    <div class='projects__line-divider line-divider'></div>

    <div class='container projects__project-container'>
        <div class='projects__project' *ngFor='let project of projects trackBy: this.trackingService.objectById; let idx = index' [ngClass]="{'projects__project--rjust': idx % 2 === 0}">
            <div class='projects__project-background' [ngStyle]="{ 'background-image': 'url(' + fileService.getImageUri(project.image_url, 'png') + ')' }"></div>

            <a class='projects__project-anchor-wrapper' [routerLink]="[this.getProjectUrl(project.id, project.name)]">
                <h3 class='projects__project-name projects__project-name--link'>{{ project.name }}</h3>
            </a>

            <h4 class='projects__project-tagline'>{{ project.tagline }}</h4>
            <markdown [data]='project.description.split(" ").slice(0, 36).join(" ")' class='projects__project-description'></markdown>

            <a aria-label="Link to project's external URL" class='projects__project-link' [href]='project.link_url' target='_blank' rel='noopener noreferrer'>
                <ui-icon class= 'projects__project-link-icon' [name]='project.link_name'></ui-icon>
            </a>
        </div>
    </div>
</div>
