@use 'variables' as *;

.projects {

}

.projects__header {

}

.projects__project-container {

}

.projects__project-anchor-wrapper {

}

.projects__project {
    background-color: darken($color-dark, 7);
    border: 1px solid black;
    box-sizing: border-box;
    height: auto;
    position: relative;

    &-background {
        background-color: $color-dark;
        background-origin: content-box;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 100%;
        opacity: 0.15;
        pointer-events: none;
        position: absolute;
        width: 100%;
    }

    &-name,
    &-tagline,
    &-description,
    markdown ::ng-deep p,
    markdown ::ng-deep h1,
    markdown ::ng-deep h2,
    markdown ::ng-deep h3,
    markdown ::ng-deep h4,
    markdown ::ng-deep h5,
    markdown ::ng-deep h6 {
        padding: $half-padding $padding;
    }

    &-name {
        color: $color-primary;
        padding-top: $padding;
    }

    &-tagline {
        color: $color-white;
    }

    &-description {
        color: $color-light;
    }

    &-link {
        display: block;
        padding: $padding;
        transition: transform $hover-transition-duration ease;
    }

    &--rjust {
        &-name,
        &-tagline,
        &-description,
        &-link {
            text-align: right;
        }

        &-link {
            align-self: flex-end;
        }
    }
}

.projects__project--rjust {
    .projects__project-name,
    .projects__project-tagline,
    .projects__project-description,
    .projects__project-link,
    markdown ::ng-deep p {
        text-align: right;
    }
}

@media only screen and (min-width: 768px) {
    .projects__project {
        &-link:hover {
            transform: translateY($hover-transition-transform);
        }

        &-name--link:hover {
            text-decoration: underline;
        }
    }

    markdown ::ng-deep p a:hover {
        text-decoration: underline;
    }
}
