<div class='section-container home-view' *ngIf='isLoaded; else loading'>
    <app-home-landing [tagline]='homepage.profile.tagline' [landing]='homepage.profile.landing'></app-home-landing>
    <app-home-about [paragraph]='homepage.profile.about' [technologies]='homepage.profile.technologies' [imageUrl]='homepage.profile.image_url'></app-home-about>
    <div class="section-divider"></div>
    <app-portfolio-project-collection [projects]='homepage.profile.projects'></app-portfolio-project-collection>
    <div class="section-divider"></div>
    <app-blog-post-collection [posts]="homepage.posts" [showTopics]='true' [showPreview]='true' [showReadmore]='true'></app-blog-post-collection>
</div>

<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>