<div class='section-container home-view' *ngIf='isLoaded; else loading'>
    <ui-home-landing [tagline]='homepage.profile.tagline' [landing]='homepage.profile.landing'></ui-home-landing>
    <ui-home-about [paragraph]='homepage.profile.about' [technologies]='homepage.profile.technologies' [imageUrl]='homepage.profile.image_url'></ui-home-about>
    <div class="section-divider"></div>
    <ui-portfolio-project-collection [projects]='homepage.profile.projects'></ui-portfolio-project-collection>
    <div class="section-divider"></div>
    <ui-blog-post-collection [posts]="homepage.posts" [showTopics]='true' [showPreview]='true' [showReadmore]='true'></ui-blog-post-collection>
    <div class="section-divider"></div>
    <ui-home-shop></ui-home-shop>
</div>

<ng-template #loading>
    <ui-loading-spinner></ui-loading-spinner>
</ng-template>
