@import 'variables';

.post {
    
}

.post__btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.post__btn {
    height: $small-btn-height;
    line-height: $small-btn-height;
    margin: 0 $quarter-margin $margin 0;
    padding: $quarter-padding;
    width: 20vw;
}

.post__title {
    margin-bottom: $margin;
}

.post__subtitle {
    margin-bottom: $margin;
}

.post__date {
    margin-bottom: $half-margin;
}

.post__topic-container {
    display: flex;
    flex-direction: column;
}

.post__topic-item {
    color: $color-primary;
    font-style: italic;
    margin-top: $quarter-margin;
}

.post__image {
    height: auto;
    margin-bottom: $margin;
    width: 100%;
}