<div *ngIf='isLoaded'>
    <div *ngIf='this.isAdmin'>
        <a mat-flat-button color='primary' (click)='sendPostToEditor()' routerLink='/editor'>Edit Post</a>
        &nbsp;
        <a mat-flat-button color='accent' (click)='deletePost()' routerLink='/blog'>Delete Post</a>
        <br>
    </div>

    <h1>{{ post.title }}</h1>
    <h2>{{ post.subtitle }}</h2>
    
    <p [innerHtml]='"Published: " + blogService.getFormattedDate(post.created)'></p>

    <a (click)='activateTopic(topic.name)' [routerLink]="['/blog']" *ngFor='let topic of post.topics'>
        <p>{{ topic.name }}</p>
    </a>
    
    <p>{{ post.author }}</p>
    
    <img [src]='post.imageURL' height=150>

    <markdown [data]='post.content'></markdown>
</div>