<div class='post' *ngIf='isLoaded'>

    <h1 class='post__title'>{{ post.title }}</h1>

    <div class='post__btn-container' *ngIf='this.isAdmin'>
        <a class='btn post__btn' (click)='sendPostToEditor()' routerLink='/editor'>Edit</a>
        <a class='btn post__btn' (click)='deletePost()' routerLink='/blog'>Delete</a>
    </div>
    
    <p class='post__date' [innerHtml]='"Published: " + blogService.getFormattedDate(post.created)'></p>
    
    <div class='post__topic-container'>
        <a class='post__topic-item' (click)='activateTopic(topic.name)' [routerLink]="['/blog']" *ngFor='let topic of post.topics'>
            {{ topic.name }}
        </a>
    </div>

    <div class="line-divider"></div>
    
    <img class='post__image' [src]='post.imageURL' height=150>

    <markdown [data]='post.content'></markdown>
</div>

<div class='section-divider'></div>