<div class="section-divider"></div>

<div class='login'>
    <h1 class='login__header'>Login</h1>

    <div class="line-divider"></div>

    <form class='login__form' (ngSubmit)='onLoginSubmit()'>
        <div class='form-field login__form-field'>
            <label>Username</label>
            <br><br>
            <input [(ngModel)]='username' name='username' required autofocus>
        </div>
        <br>

        <div class='form-field login__form-field'>
            <label>Password</label>
            <br><br>
            <input [(ngModel)]='password' name='password' type='password' required>
        </div>
        <br>
            
        <button 
            [ngClass]="{'btn--inactive': !validationService.hasValidAdminCredentials(username, password)}"
            class='btn login__form-btn'
            [disabled]='!validationService.hasValidAdminCredentials(username, password)'
        >
            Submit
        </button>
    </form>
</div>