@import 'variables';

.post {
    
}

.post__btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.post__btn {
    font-size: 160%;
    height: $small-btn-height;
    line-height: $small-btn-height;
    margin: 0 $quarter-margin $margin 0;
    width: $small-btn-width;

    &--warn {
        font-size: 140%;
    }
}

.post__title {
    margin-bottom: $margin;
}

.post__subtitle {
    margin-bottom: $margin;
}

.post__date {
    font-style: italic;
    margin-bottom: $half-margin;
}

.post__topic-container {
    display: flex;
    flex-direction: column;
}

.post__topic-item {
    color: $color-primary;
    margin-top: $quarter-margin;
}

.post__image {
    height: auto;
    margin-bottom: $margin;
    width: 100%;
}

markdown ::ng-deep a {
    color: $color-primary;
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    .post__topic-item {
        &:hover {
            text-decoration: underline;
        }
    }

    markdown ::ng-deep a {
        &:hover {
            text-decoration: underline;
        }
    }
}