<div class='section post' *ngIf='isLoaded; else loading'>
    <h1 class='post__title' *ngIf='post.status.status === "PUBLISHED"'>{{ post.title }}</h1>
    <h1 class='post__title' *ngIf='post.status.status !== "PUBLISHED"'>{{ post.status.status + ": " + post.title }}</h1>

    <h2 class='post__subtitle'>{{ post.subtitle }}</h2>

    <div class='post__btn-container' *ngIf='isAdmin'>
        <a class='btn post__btn' (click)='sendPostToEditor()' routerLink='/editor' [queryParams]='{type: "post", id: post.id}'>
            &#x270F;
        </a>
        <a class='btn post__btn btn--warn' (click)='deletePost(post.id)' routerLink='/blog'>
            &#x2715;
        </a>
    </div>
    
    <p class='post__date' [innerHtml]='"Updated: " + blogService.getFormattedDate(post.updated_at)'></p>
    
    <div class='post__topic-container'>
        <a class='post__topic-item' (click)='blogService.setActiveTopic(topic)' [routerLink]="['/blog']" *ngFor='let topic of post.topics'>
            {{ topic.name }}
        </a>
    </div>

    <div class="line-divider"></div>
    
    <img class='post__image' alt='Blog post image' [src]='post.image_url' height=150>

    <markdown [data]='post.content' lineNumbers></markdown>
</div>

<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>