@import 'variables';

.post__btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.post__btn {
    font-size: 160%;
    height: $small-btn-height;
    line-height: $small-btn-height;
    margin: 0 $quarter-margin $margin 0;
    width: $small-btn-width;

    &--warn {
        font-size: 140%;
    }
}

.post__title {
    margin-bottom: $margin;
}

.post__subtitle {
    color: $color-light;
    font-style: italic;
    font-weight: 500;
    margin-bottom: $margin;
}

.post__date {
    font-style: italic;
    margin-bottom: $half-margin;
}

.post__topic-container {
    display: flex;
    flex-direction: column;
}

.post__topic-item {
    color: $color-primary;
    margin-top: $quarter-margin;
}

.post__image-container {
    text-align: center;
    width: 100%;
}

.post__image {
    height: auto;
    margin-bottom: $margin;
    width: 100%;
}

markdown ::ng-deep a {
    color: $color-primary;
    display: inline-block;
}

markdown ::ng-deep div img {
    text-align: center;
    width: 100%;
}

markdown ::ng-deep img {
    height: auto;
    width: 100%;
}

markdown ::ng-deep p code {
    // NOTE: Use commented lines for interesting border effect
    // border: 1px solid $color-warn;
    // padding: calc(#{$quarter-padding} / 4) calc(#{$quarter-padding} / 2);

    padding: 0 calc(#{$quarter-padding} / 2);
    color: $color-warn;
}

@media only screen and (min-width: 768px) {
    .post__topic-item {
        &:hover {
            text-decoration: underline;
        }
    }

    markdown ::ng-deep a {
        &:hover {
            text-decoration: underline;
        }
    }

    markdown ::ng-deep img {
        width: 64%;
    }

    .post__image {
        width: 64%;
    }
}