@import 'variables';

.fill-space {
    flex: 1;
}

.link-container {
}

.link-item {
}

.toggle-btn {
}

.ghost-navbar {
    background-color: $color-dark;
    height: $header-height;
}

.navbar {
    background-color: $color-dark;
    display: flex;
    flex-direction: row;
    height: $header-height;
    justify-content: space-between;
    left: 0px;
    padding: 0 $padding;
    position: fixed;
    right: 0px;
    transition: $navbar-transition-duration;
    transition-timing-function: ease-out;
    width: 100%;
    z-index: 1;

    &--no-show {
        top: -($header-height);
        pointer-events: none;
    }

    &--show {
        top: 0px;
        pointer-events: all;
    }
}

.navbar__link-container {
    display: none;
}

.navbar__logo-icon {
    color: $color-primary;
    line-height: $header-height;
}

.navbar__menu-icon {

    div {
        background-color: $color-primary;
        height: 5px;
        margin: 6px 0;
        width: 30;
    }

    div:nth-child(1) {
        width: 35px;
    }

    div:nth-child(2) {
        width: 30px;
        transform: translateX(5px);
    }

    div:nth-child(3) {
        width: 27.5px;
        transform: translateX(7.5px);
    }
}

.navbar__toggle-btn {
    background-color: $color-dark;
    height: $header-height;
    margin-right: $margin;
    width: $header-height;
}

.sidebar {
    background: $color-white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transition: $sidebar-transition-duration;
    transition-timing-function: ease-out;
    z-index: 3;

    &--closed {
        opacity: 0.5;
        width: 0vw;
    }
    
    &--open { 
        opacity: 1;
        width: 50vw;
    }
}

.sidebar-fog {
    background-color: $color-dark;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transition: $sidebar-transition-duration;
    width: 100vw;
    z-index: 2;

    &--no-show {
        opacity: 0;
        pointer-events: none;
    }

    &--show {
        opacity: 0.4;
        pointer-events: all;
    }
}

.sidebar__link-conatiner {
    background-color: $color-white;
}

.sidebar__link-item, .sidebar__toggle-btn {
    background-color: $color-white;
    color: $color-dark;
    height: $header-height;
    padding: 0 $padding;
    transition: $anchor-active-transition-duration;

    &:active {
        background-color: $color-dark;
        color: $color-primary;
    }
}

.sidebar__link-item {
    display: flex;
    flex-direction: column;
    line-height: $header-height;
    text-align: right;
}

.sidebar__toggle-btn {
    font-size: 150%;
    text-align: right;
}

@media only screen and (min-width: 768px) {
    .navbar__link-container {
        display: default;
    }
}