<div [id]='modalId' class='modal hidden'>
    <div class='modal__background' (click)='close()'></div>

    <div class='modal__body'>
        <div class='modal__close-btn-container'>
            <button aria-label='Close shop checkout modal' class='modal__close-btn' (click)='close()'>
                &#10006;
            </button>
            <div class='modal__close-btn-spacer'></div>
        </div>

        <div class='modal__content'>
            <h1 class='modal__header'>Shop Checkout</h1>
            <div class='modal__info'>
                Please enter the following information to receive an email containing a download URL.
            </div>

            <form class='editor__form' [formGroup]='checkoutForm' (ngSubmit)='onSubmit()'>
                <div class='form-field editor__form-field'>
                    <label class='form-field-label editor__form-field-label'>Email</label>
                    <br><br>
                    <input formControlName='email' required autofocus>
                </div>

                <button
                        aria-label='Submit shop category'
                        [ngClass]="{'btn--inactive': !checkoutForm.valid}"
                        class='btn editor__form-btn  editor__form-btn--submit'
                        [disabled]='!checkoutForm.valid'
                >
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>