<div class='section about'>
    <h2 class='about__header'>About</h2>

    <div class='about__line-divider line-divider'></div>

    <p class='about__description'>
        {{ paragraph }}
    </p>

    <p class='about__description'>These are some of the technologies that I usually work with:</p>
    <ul class='about__technology-list'>
        <li class='about__technology-list-item' *ngFor='let technology of technologies'>
            {{ technology.name }}
        </li>
    </ul>

    <div class='about__portrait-container'>
        <img class='about__portrait' [src]='"https://mattmaxwell.tech/images/" + imageUrl'>
    </div>
</div>