@import 'variables';

.projects {
    background-color: $color-dark;
    color: $color-white;
    height: auto;
    padding: 0 $padding;
}

.projects__header {
    
}

.projects__project-container {
    display: grid;
    grid-gap: $margin;
    grid-template-columns: auto;
}

.projects__project {
    background-color: darken($color-dark, 7);
    height: auto;
    position: relative;

    &-background {
        background-color: $color-dark;
        background-origin: content-box;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 100%;
        opacity: 0.15;
        pointer-events: none;
        position: absolute;
        width: 100%;
    }

    &-title,
    &-subtitle,
    &-description,
    &-ext-container {
        padding: $half-padding $padding;
    }
    
    &-title {
        color: $color-primary;
        padding-top: $padding;
    }

    &-subtitle {
        color: $color-white;
    }

    &-description {
        color: $color-light;
    }

    &-ext-container {
        display: flex;
        flex-direction: column;
        padding-bottom: $padding;
    }

    &-ext-item {
        color: $color-primary;
    }
}