<div class="jumbotron text-center">
    <h2>Welcome to the admin panel !</h2>
    <br>
    <div>
        <a *ngIf="!authService.isLoggedIn()" class="btn btn-primary" [routerLink]="['/admin/register']">Register</a>
        <a *ngIf="!authService.isLoggedIn()" class="btn btn-secondary" [routerLink]="['/admin/login']">Login</a>
        <a *ngIf="authService.isLoggedIn()" class="btn btn-primary" [routerLink]="['/editor']">Editor</a>
        <a *ngIf="authService.isLoggedIn()" class="btn btn-secondary" (click)="onLogoutClick()">Logout</a>
    </div>
</div>  