// Plus imports for other components in your app.
@import '~@angular/material/theming';

// Define primary and accent colors
$primary: (
    50: #EFF8FF,
    100: #C3E1FC,
    200: #9ECEFB,
    300: #7CBBF8,
    400: #66ACF6,
    500: #589EF3,
    600: #528FE5, 
    700: #4B7DD1,
    800: #456CBF,
    900: #3B4E9E,
    A100: #c7ceff,
    A200: #a0aeff,
    A400: #4b71ff,
    A700: #0041e6,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #FFFFFF,
        600: #FFFFFF,
        700: #FFFFFF,
        800: #FFFFFF,
        900: #FFFFFF,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #FFFFFF,
    )
);

$accent: (
    50: #fffee6,
    100: #fffac1,
    200: #fef697,
    300: #fdf16b,
    400: #fbed46,
    500: #f8e814,
    600: #ffdc1c, 
    700: #ffc30f,
    800: #ffaa00,
    900: #fe7f00,
    A100: #ffedb4,
    A200: #fee284,
    A400: #fecd2b,
    A700: #ffa304,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #FFFFFF,
        600: #FFFFFF,
        700: #FFFFFF,
        800: #FFFFFF,
        900: #FFFFFF,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #FFFFFF,
    )
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($primary, 900, 100, 900);
$app-accent:  mat-palette($accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);