<div class='section editor' *ngIf='isLoaded; else loading'>
    <h1 class='editor__header'>Portfolio Profile Editor</h1>

    <div class='line-divider'></div>

    <form class='editor__form' [formGroup]='profileForm' (ngSubmit)='onSubmit()'>
        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Name</label>
            <br><br>
            <input formControlName='name' required autofocus>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Status</label>
            <br><br>
            <mat-radio-group formControlName='status' name='status' required>
                <mat-radio-button
                        *ngFor='let status of statusData trackBy: this.trackingService.objectById'
                        [value]='status.status'
                >{{ status.status }}</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Projects</label>
            <br><br>
            <div class='form__checkbox-item' formArrayName='projects' *ngFor='let project of profileForm.controls.projects["controls"] trackBy: this.trackingService.objectById; let idx = index'>
                <mat-checkbox [formControlName]='idx'>{{ projectData[idx].name }}</mat-checkbox>
                <br>
            </div>
        </div>

        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Tagline</label>
            <br><br>
            <input formControlName='tagline' required autofocus>
        </div>

        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Landing</label>
            <br><br>
            <input formControlName='landing' required autofocus>
        </div>

        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>About</label>
            <br><br>
            <input formControlName='about' required autofocus>
        </div>

        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Technologies</label>
            <br><br>
            <div class='editor__profile-btn-row' formArrayName='technologies' *ngFor='let technology of profileForm.controls.technologies["controls"] trackBy: this.trackingService.objectById; let idx = index'>
                <input class='editor__profile-form-field' [formControlName]='idx' required autofocus>

                <button
                    aria-label='Move technology up'
                    *ngIf='idx !== 0'
                    class='btn editor__profile-btn--edit'
                    (click)='changeTechnologyDisplayOrder(idx, idx - 1)'
                    type='button'
                >&#9650;</button>
                <button
                    aria-label='Move technology down'
                    *ngIf='idx !== profileForm.controls.technologies["controls"].length - 1'
                    class='btn editor__profile-btn--edit'
                    (click)='changeTechnologyDisplayOrder(idx, idx + 1)'
                    type='button'
                >&#9660;</button>
                <button
                    aria-label='Delete technology'
                    [ngClass]="{'btn--inactive': profileForm.controls.technologies['controls'].length === 1}"
                    [disabled]='profileForm.controls.technologies["controls"].length === 1'
                    class='btn editor__profile-btn--warn btn--warn'
                    (click)='removeTechnology(idx)'
                    type='button'
                >&#x2715;</button>
            </div>
            <br>
            <button
                    aria-label='Add technology'
                    class='btn editor__profile-btn--add btn--go'
                    type='button'
                    (click)='addTechnologyToForm()'
            >&#x2b;</button>
            <br>
        </div>

        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Image URL</label>
            <br><br>
            <input formControlName='image_url' required autofocus>
        </div>

        <button
                aria-label='Submit profile'
                [ngClass]="{'btn--inactive': !profileForm.valid}"
                class='btn editor__form-btn  editor__form-btn--submit'
                [disabled]='!profileForm.valid'
        >
            Submit
        </button>
    </form>
</div>

<ng-template #loading>
    <ui-loading-spinner></ui-loading-spinner>
</ng-template>