@import 'variables';

.blog {
    background-color: $color-dark;
    display: grid;
    grid-template-areas:
        "blog-header"
        "topics"
        "posts";
    min-height: 86vh;

    .blog__header {
        grid-area: blog-header;
    }
    .topics {
        grid-area: topics;
    }
    .posts {
        grid-area: posts;
    }
}

.blog__header {
    margin: 0 auto $margin;
    padding: $padding;
    text-align: center;
}

.blog__filter-header {
    margin-bottom: $half-margin;
}

.blog__filter-btn-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.blog__filter-btn {
    font-size: 90%;
    height: $btn-height;
    line-height: $btn-height;
    width: 184px;

    &--add, &--edit {
        height: $small-btn-height;
        line-height: $small-btn-height;
        margin-left: $half-margin;
    }

    &--add {
        font-size: 140%;
        width: calc(42px * 2 + #{$half-margin});
    }

    &--edit {
        font-size: 110%;
        width: 42px;
    }

    &--half {
        width: 184px;
    }
}

.blog__filter-btn-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &--all {
        margin-bottom: $margin;
    }
}

@media only screen and (min-width: 768px) {
    .blog__filter-btn {
        height: $large-btn-height;
        line-height: $large-btn-height;
        width: 236px;

        &--add, &--edit {
            width: 52px;
        }

        &--add {
            width: calc(52px + 52px + #{$half-margin});
        }
    }

    .blog {
        grid-template-areas:
          "blog-header blog-header blog-header blog-header"
          "posts posts posts topics";
    }
}