@import 'variables';

.blog {
    
}

.blog__header {
    margin-bottom: $margin;
    text-align: center;
}

.blog__filter-header {
    margin-bottom: $half-margin;
}

.blog__filter-btn-container {
    display: flex;
    flex-direction: column;
}

.blog__filter-btn{
    line-height: $btn-height;
    width: 100%;

    &--add, &--edit {
        width: 13vw;
    }

    &--add {
        font-size: 150%;
    }

    &--edit {
        font-size: 120%;
    }

    &--half {
        width: 50vw;
    }
}

.blog__filter-btn-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}