<ng-container *ngIf='isLoaded'>
    <div class='section blog' *ngIf='isLoaded'>
        <h1 class='blog__header'>Welcome to my blog!</h1>
    
        <h2 class='blog__filter-header'>Topics:</h2>
        <div class='blog__filter-btn-container'>
            <div class='blog__filter-btn-row' *ngFor='let topic of getTopicArray()'>
                <button 
                    [ngClass]="{'btn--active': topic[1], 'blog__filter-btn--half': isAdmin}"
                    class='btn blog__filter-btn' 
                    (click)='filterPosts(topic[0])'
                    type='button'
                >
                    {{ topic[0] }}
                </button>
    
                <ng-container *ngIf='isAdmin'>
                    <ng-container *ngIf='topic[0] === "All"'>
                        <button class='btn blog__filter-btn--add btn--go' [routerLink]="['/editor']" [queryParams]='{type: "topic"}'>
                            &#x2b;
                        </button>
                    </ng-container>
        
                    <ng-container *ngIf='topic[0] !== "All"'>
                        <button
                            class='btn blog__filter-btn--edit'
                            (click)='sendTopicToEditor(topic[0])'
                            routerLink='/editor'
                            [queryParams]='{type: "topic"}'
                        >
                            &#x270F;
                        </button>
                        <button
                            class='btn blog__filter-btn--edit btn--warn'
                            (click)='deleteTopic(topic[0])'
                            type='button'
                        >
                            &#x2715;
                        </button>
                    </ng-container>
                </ng-container>
    
                <ng-container *ngIf='!isAdmin && topic[0] === "All"'>
                    <br><br><br>
                </ng-container>
            </div>
        </div>
    </div>
    
    <app-post-collection [content]='posts' [showPreview]='true'></app-post-collection>
    
    <div class='section-divider'></div>
</ng-container>