@import 'variables';

.login {
    height: calc(98vh - #{$header-height} - #{$footer-height} * 2 - #{$section-divider-height});
}

.login__header {
    text-align: center;
    margin-bottom: $margin;
}

.login__form {
    text-align: center;
}

.login__form-field {
  
}

.login__form-btn {
    line-height: $btn-height;
    margin-top: $half-margin;
    width: 180px;
}

@media only screen and (min-width: 768px) {
    ::ng-deep .section-divider {
        height: 15vh;
    }
}
