@import 'variables';

.login {
    min-height: 77vh;
}

.login__header {
    text-align: center;
    margin-bottom: $margin;
}

.login__form {
    text-align: center;
}

.login__form-field {
  
}

.login__form-btn {
    line-height: $btn-height;
    margin-top: $half-margin;
    width: 180px;
}