<div class='section register'>
    <h1 class='register__header'>Register</h1>

    <div class="line-divider"></div>

    <form class='register__form' (ngSubmit)='onRegisterSubmit()'>
        <div class='form-field register__form-field'>
            <label>Username</label>
            <br><br>
            <input [(ngModel)]='username' name='username' required autofocus>
        </div>
        <br>

        <div class='form-field register__form-field'>
            <label>Password</label>
            <br><br>
            <input [(ngModel)]='password' name='password' type='password' required>
        </div>
        <br>
            
        <button 
            [ngClass]="{'btn--inactive': !validationService.hasValidAdminCredentials(username, password)}"
            class='btn register__form-btn'
            [disabled]='!validationService.hasValidAdminCredentials(username, password)'
        >
            Submit
        </button>
    </form>
</div>