@import 'variables';

.register {
    background: $color-dark;
    color: $color-white;
    min-height: 71vh;
}

.register__header {
    text-align: center;
    margin-bottom: $margin;
}

.register__form {
    text-align: center;
    margin-bottom: $margin;
}

.register__form-field {
    input {
        border-radius: 1px;
        box-sizing: border-box;
        height: $input-height;
        padding: 0 $quarter-padding;
    }
}

.register__form-btn {
    line-height: $btn-height;
    margin-top: $half-margin;
    width: 50vw;
}