@import 'variables';

.posts {
    min-height: calc(41vh + 1px);
}

.posts__header {
}

.posts__post-container {
    margin-bottom: $margin;
}

.posts__post-anchor-wrapper {

}

.posts__post-title,
.posts__post-date,
.posts__post-preview,
.posts__post-topic-list {
    padding: $half-padding $padding;
}

.posts__post {
    background-color: $color-light;
    border: 1px solid black;
}

.posts__post-title {
    padding-top: $padding;
}

.posts__post-date {
    color: $color-dark;
    padding-bottom: $padding;
}

.posts__post-topic-list {
    color: $color-secondary;
    display: grid;
    grid-gap: $quarter-margin;
}

.posts__post-topic-item {
    color: $color-secondary;
    font-style: italic;
    text-decoration: underline;
}

.posts__post-preview {
    color: $color-dark;
}

.posts__load-btn {
    width: 100%;
}