<div class='section editor' *ngIf='isLoaded; else loading'>
    <h1 class='editor__header'>Blog Post Editor</h1>

    <div class="line-divider"></div>

    <form class='editor__form' [formGroup]='postForm' (ngSubmit)='onSubmit()'>
        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Title</label>
            <br><br>
            <input formControlName='title' required autofocus>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Subtitle</label>
            <br><br>
            <input formControlName='subtitle' required autofocus>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Author</label>
            <br><br>
            <mat-radio-group formControlName='author' name='author' required>
                <mat-radio-button
                    *ngFor='let author of authorData trackBy: this.trackingService.objectById'
                    [value]='buildAuthorName(author)'
                >{{ buildAuthorName(author) }}</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Status</label>
            <br><br>
            <mat-radio-group formControlName='status' name='status' required>
                <mat-radio-button
                        *ngFor='let status of statusData trackBy: this.trackingService.objectById'
                        [value]='status.status'
                >{{ status.status }}</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Topics</label>
            <br><br>
            <div class='form__checkbox-item' formArrayName='topics' *ngFor='let topic of postForm.controls.topics["controls"] trackBy: this.trackingService.objectById; let idx = index'>
                <mat-checkbox [formControlName]='idx'>{{ topicData[idx].name }}</mat-checkbox>
                <br>
            </div>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Preview</label>
            <br><br>
            <textarea formControlName='preview' required></textarea>
        </div>

        <div class="form-field form-field--large editor__form-field">
            <label class='form-field-label editor__form-field-label'>Content</label>
            <br><br>
            <textarea formControlName='content' required></textarea>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Image URL</label>
            <br><br>
            <input formControlName='image_url' required>
        </div>

        <button
            aria-label='Submit post'
            [ngClass]="{'btn-loading': isSubmittingForm, 'btn--inactive': !postForm.valid}"
            class='btn editor__form-btn editor__form-btn--submit'
            [disabled]='!postForm.valid'
        >
            <ng-container *ngIf='isSubmittingForm'>
                <div class='btn-loader-container'>
                    <div class='btn-loader'></div>
                </div>
            </ng-container>
            <ng-container *ngIf='!isSubmittingForm'>
                Submit
            </ng-container>
        </button>
    </form>
</div>

<ng-template #loading>
    <ui-loading-spinner></ui-loading-spinner>
</ng-template>
