<div class='section editor' *ngIf='isLoaded; else loading'>
    <h1 class='editor__header'>Shop Category Editor</h1>

    <div class="line-divider"></div>

    <form class='editor__form' [formGroup]='categoryForm' (ngSubmit)='onSubmit()'>
        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Name</label>
            <br><br>
            <input formControlName='name' required autofocus>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Products</label>
            <br><br>
            <div class='form__checkbox-item' formArrayName='products' *ngFor='let p of categoryForm.controls.products["controls"] trackBy: this.trackingService.objectById; let idx = index'>
                <mat-checkbox [formControlName]='idx'>{{ productData[idx].name }}</mat-checkbox>
                <br>
            </div>
        </div>

        <button
                aria-label='Submit project'
                [ngClass]="{'btn--inactive': !categoryForm.valid}"
                class='btn editor__form-btn  editor__form-btn--submit'
                [disabled]='!categoryForm.valid'
        >
            Submit
        </button>
    </form>
</div>

<ng-template #loading>
    <ui-loading-spinner></ui-loading-spinner>
</ng-template>
