@font-face {
  font-family: "Rubik";
  src: url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap"); }

@font-face {
  font-family: "Abhaya Libre";
  src: url("https://fonts.googleapis.com/css?family=Abhaya+Libre:400,500,700&display=swap"); }

@font-face {
  font-family: "Louis George Cafe";
  src: url("../fonts/louis-george-cafe.ttf"); }

@font-face {
  font-family: "Noe Display Bold";
  src: url("../fonts/noe-display-bold.ttf"); }

@font-face {
  font-family: "GT Sectra";
  src: url("../fonts/gt-sectra-fine-bold.ttf"); }

* {
  border: 0;
  margin: 0;
  padding: 0; }

html, body {
  font-family: "Noe Display Bold", "GT Sectra", "Louis George Cafe", "arial";
  font-size: 16px;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 100vw; }

.nav-container {
  background-color: #0c0e20;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 10vh;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5vh 2rem;
  top: 0;
  width: 100%; }
  .nav-container a:visited {
    text-decoration: none; }
  .nav-container .logo-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav-container .text-logo {
    color: #a0aeae;
    font-family: "GT Sectra";
    font-size: 2.5rem;
    text-decoration: none; }
  .nav-container .links-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .nav-container .link-item {
    font-family: "Louis George Cafe";
    font-size: 1rem;
    margin-left: 3rem;
    text-decoration: none;
    color: #a0aeae; }

@media (max-width: 565px) {
  .nav-container .text-logo {
    font-size: 7vw; } }

@media (min-width: 760px) {
  .nav-container .link-item-container .link-item {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .nav-container .link-item-container .link-item:hover {
      color: #c9d1d1; } }

.landing-container {
  max-width: 100%;
  height: 90vh;
  background-color: #fbfbfb;
  color: #0f1127;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12vh 2rem 2rem; }
  .landing-container .tagline-container h1 {
    margin-right: 0;
    font-size: 3rem; }
  .landing-container .scroll-container {
    text-align: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .landing-container a {
    font-family: "Louis George Cafe";
    font-size: 1.5rem;
    color: #868686;
    text-decoration: none; }

#operation-home .project-img-container {
  background-color: #000315;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end; }

#distortion-plugin .project-img-container {
  background-color: indianred;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#jlpt-scrape .project-img-container {
  background-color: #202020;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.project-container {
  height: auto;
  width: 100vw;
  background-color: #fbfbfb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .project-container .project-inner-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    grid-template-areas: "image" "text"; }
    .project-container .project-inner-container .project-img-container {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: image;
      color: #c6c9e9;
      height: 80vh;
      width: 100vw;
      display: -ms-grid;
      display: grid; }
      .project-container .project-inner-container .project-img-container img {
        max-height: 80vh;
        width: 100%; }
    .project-container .project-inner-container .project-text-container {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      grid-area: text;
      height: auto;
      width: 100%;
      padding: 5vh 2rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family: "Louis George Cafe"; }
      .project-container .project-inner-container .project-text-container .project-title {
        font-family: "GT Sectra";
        margin-bottom: 3rem;
        font-size: 2.5rem; }
      .project-container .project-inner-container .project-text-container .project-subtitle {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 1.5rem;
        color: #868686; }
      .project-container .project-inner-container .project-text-container .project-description {
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 3rem; }
      .project-container .project-inner-container .project-text-container .read-more {
        font-size: 1.25rem;
        font-family: "Louis George Cafe";
        text-decoration: none;
        color: #333873; }
      .project-container .project-inner-container .project-text-container .icon-container {
        display: inline;
        max-height: 1rem;
        color: #535353; }
        .project-container .project-inner-container .project-text-container .icon-container img {
          height: 3rem;
          margin-right: 2rem;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }

@media (min-width: 760px) {
  .project-container .project-inner-container .project-text-container .icon-container img:hover {
    -webkit-transform: translateY(-0.25rem);
    -ms-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem); } }

@media (min-width: 1025px) {
  .project-container {
    height: auto;
    padding: 0 0; }
    .project-container .project-inner-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-items: center; }
      .project-container .project-inner-container .project-img-container {
        width: 50vw;
        height: 90vh;
        margin: 5vh 0; }
        .project-container .project-inner-container .project-img-container img {
          width: 50vw;
          height: auto;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
      .project-container .project-inner-container .project-text-container {
        width: 50vw;
        height: auto;
        -ms-grid-row: 1;
        grid-row-start: 1;
        padding: 10vh 7vw; }
        .project-container .project-inner-container .project-text-container p {
          font-size: 12px; } }

.tech-stack-container {
  padding: 5vw;
  background-color: #f5f7f7;
  height: auto; }
  .tech-stack-container .tech-stack-title {
    text-align: center;
    font-family: "GT Sectra";
    font-size: 150%; }
  .tech-stack-container .tech-stack-logos {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-items: center;
    padding: 5vw;
    height: auto; }
    .tech-stack-container .tech-stack-logos .tech-stack-logos-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 5rem; }
      .tech-stack-container .tech-stack-logos .tech-stack-logos-item img {
        height: 4rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0.75rem; }
      .tech-stack-container .tech-stack-logos .tech-stack-logos-item p {
        margin-top: 0rem;
        font-family: "Louis George Cafe";
        text-align: center; }

@media (max-width: 790px) {
  .tech-stack-container .tech-stack-title {
    margin-bottom: 3rem; }
  .tech-stack-container .tech-stack-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    justify-items: center; }
    .tech-stack-container .tech-stack-logos .tech-stack-logos-item {
      margin-bottom: 3rem;
      padding: auto; } }

@media (min-width: 1025px) {
  .tech-stack-container {
    height: 20vw; }
    .tech-stack-container .tech-stack-logos {
      display: -ms-grid;
      display: grid; }
      .tech-stack-container .tech-stack-logos .tech-stack-logos-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 5vw;
        height: auto; } }

.read-more {
  font-family: "Louis George Cafe";
  text-decoration: none; }

.footer-background {
  background-color: #0c0e20; }
  .footer-background .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15vh 2rem 0; }
    .footer-background .footer-container .footer-title {
      font-family: "GT Sectra";
      text-align: left;
      font-size: 24px;
      color: #a0aeae;
      margin-bottom: 2rem; }
    .footer-background .footer-container .footer-text-container {
      margin-bottom: 5vh; }
      .footer-background .footer-container .footer-text-container .resume-section {
        font-family: "Louis George Cafe";
        font-size: 1.25rem;
        color: #a0aeae;
        text-align: left;
        height: auto;
        margin-bottom: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .footer-background .footer-container .footer-text-container .resume-section .resume-section-title {
          margin-bottom: 0.5rem;
          font-size: 90%; }
        .footer-background .footer-container .footer-text-container .resume-section .resume-section-description {
          font-size: 90%; }
        .footer-background .footer-container .footer-text-container .resume-section .icon-container {
          display: inline; }
          .footer-background .footer-container .footer-text-container .resume-section .icon-container svg {
            fill: #a0aeae;
            height: 2rem;
            margin-right: 2rem; }
      .footer-background .footer-container .footer-text-container #back-to-top a {
        color: #a0aeae;
        text-decoration: none; }
    .footer-background .footer-container .copyright-container .copyright-text {
      font-size: 1.25rem;
      color: #a0aeae;
      margin-top: 2vw;
      font-family: "Louis George Cafe"; }

@media (min-width: 760px) {
  .footer-background .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .footer-background .footer-container .footer-title {
      width: 50vw;
      font-size: 2rem; }
    .footer-background .footer-container .footer-text-container {
      width: 50vw; }
      .footer-background .footer-container .footer-text-container .resume-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
        .footer-background .footer-container .footer-text-container .resume-section .resume-section-title {
          width: 15vw;
          margin-right: 2rem; }
        .footer-background .footer-container .footer-text-container .resume-section .resume-section-description {
          width: 35vw; }
        .footer-background .footer-container .footer-text-container .resume-section .icon-container a svg {
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
          .footer-background .footer-container .footer-text-container .resume-section .icon-container a svg:hover {
            -webkit-transform: translateY(-0.25rem);
            -ms-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem);
            fill: #bcc5c5; }
      .footer-background .footer-container .footer-text-container #back-to-top a:hover {
        color: #ea6253; } }

.about-container {
  height: auto;
  min-height: 90vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }
  .about-container .about-text-container {
    color: #0f1127; }
    .about-container .about-text-container h2 {
      font-family: "GT Sectra";
      margin-bottom: 1rem; }
    .about-container .about-text-container p {
      font-family: "Louis George Cafe";
      margin-bottom: 0.5rem; }
  .about-container .about-image-container {
    height: auto; }
    .about-container .about-image-container img {
      width: 100%;
      height: auto;
      border: 1px solid #202020; }
  .about-container > div {
    height: 45vh;
    padding: 5vh 2rem 0; }
