/* NAV STYLING */
@font-face {
  font-family: "Louis George Cafe";
  src: url("../fonts/louis-george-cafe.ttf"); }

@font-face {
  font-family: "Noe Display Bold";
  src: url("../fonts/noe-display-bold.ttf"); }

@font-face {
  font-family: "GT Sectra";
  src: url("../fonts/gt-sectra-fine-bold.ttf"); }

.nav-container {
  width: 100vw;
  height: 80px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  top: 0;
  -ms-grid-column: 1/span 2;
  grid-column-start: 1/span 2; }
  .nav-container a:visited {
    text-decoration: none;
    color: #303780; }
  .nav-container .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav-container .text-logo {
    text-decoration: none;
    font-size: 2rem;
    font-family: "GT Sectra"; }
  .nav-container .links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav-container .link-item {
    margin-right: 2rem;
    text-decoration: none;
    color: #303780; }
