html, body {
  font-family: "Noe Display Bold", "GT Sectra", "Louis George Cafe", "arial";
  font-size: 16px;
  margin: 0;
  border: 0;
  padding: 0; }

@font-face {
  font-family: "Louis George Cafe";
  src: url("../fonts/louis-george-cafe.ttf"); }

@font-face {
  font-family: "Noe Display Bold";
  src: url("../fonts/noe-display-bold.ttf"); }

@font-face {
  font-family: "GT Sectra";
  src: url("../fonts/gt-sectra-fine-bold.ttf"); }
