@import 'variables';

.editor {
    min-height: 63vh;
}

.editor__header {
    text-align: center;
    margin-bottom: $margin;
}

.editor__form {
    text-align: left;
}

.editor__form-field {
    margin-bottom: $margin;

    input {
        width: 100%;
    }
}

.editor__form-btn-container {
    width: $btn-height;
}

.editor__form-btn {
    height: $btn-height;
    margin-top: $half-margin;
    width: 100%;
}