@import 'variables';

.editor {
}

.editor__header {
    text-align: center;
    margin-bottom: $margin;
}

.editor__form {
    text-align: left;
}

.editor__form-field {
    margin-bottom: $margin;

    input {
        width: 100%;
    }
}

.editor__form-btn-container {
    width: $btn-height;
}

.editor__form-btn {
    height: $btn-height;
    margin-top: $half-margin;
    max-width: 312px;
    width: 100%;

    &--submit {
        font-size: 120%;
    }
}

.mat-radio-button {
    margin: 0 $half-margin $half-margin 0;
}

.editor__profile-btn {
    &--add {
        height: $small-btn-height;
        font-size: 160%;
        width: $small-btn-width;
    }

    &--edit {
        height: $extra-small-btn-height;
        width: $tiny-btn-width;
    }

    &--warn {
        font-size: 110%;
        height: $small-btn-height;
        width: $extra-small-btn-width;
    }
}

.editor__profile-btn-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .editor__profile-btn {
        &--edit, &--warn {
            font-size: 120%;
            height: $small-btn-height;
            width: $small-btn-width;
        }
    }
}