<div class='section dashboard' [ngClass]="{'dashboard--expand': !authService.isLoggedIn()}" *ngIf='isLoaded; else loading'>
    <h1 class='dashboard__header'>Dashboard</h1>

    <div class="line-divider"></div>

    <div class='dashboard__btn-container' *ngIf='!authService.isLoggedIn()'>
        <a class='btn dashboard__btn' [routerLink]="['/admin/login']">Login</a>
        <a class='btn btn--inactive dashboard__btn' (click)='notificationService.createNotification("This functionality is not available.")'>Register</a>
    </div>

    <div class='dashboard__container'>
        <div class='dashboard__portfolio-btn-container dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
            <h2>Portfolio</h2>
            <br>
            <a class='btn dashboard__btn' routerLink='/portfolio/profiles/editor'>
                Create Profile
            </a>
            <a class='btn dashboard__btn' routerLink='/portfolio/projects/editor'>
                Create Project
            </a>
            <br>
        </div>

        <div class='dashboard__profile-btn-container dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
            <h2 class='dashboard__profile-header'>Profiles :</h2>
            <br>
            <div class='dashboard__profile-btn-row' *ngFor='let profile of profiles trackBy: this.trackingService.objectById'>
                <button
                        aria-label='Activate profile'
                        [ngClass]="{'btn-loading': isActivatingProfile && profile.id === activeProfileId, 'btn--active': profile.status.status == 'ACTIVE' }"
                        class='btn dashboard__profile-btn'
                        (click)='changeProfile(profile)'
                        type='button'
                >
                    <ng-container *ngIf='isActivatingProfile && profile.id === activeProfileId'>
                        <div class='btn-loader-container'>
                            <div class='btn-loader'></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf='!(isActivatingProfile && profile.id === activeProfileId)'>
                        {{ profile.name }}
                    </ng-container>
                </button>

                <a
                        class='btn dashboard__profile-btn--edit'
                        (click)='sendProfileToEditor(profile)'
                        routerLink='/portfolio/profiles/editor'
                        [queryParams]='{type: "profile", id: profile.id}'
                >
                    &#x270F;
                </a>
                <a
                        class='btn dashboard__profile-btn--edit btn--warn'
                        (click)='deleteProfile(profile)'
                >
                    &#x2715;
                </a>
            </div>

            <br><br>
        </div>

        <div class='dashboard__blog-btn-container dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
            <h2>Blog</h2>
            <br>
            <a class='btn dashboard__btn' routerLink='/blog/posts/editor'>
                Create Post
            </a>
            <a class='btn dashboard__btn' routerLink='/blog/topics/editor'>
                Create Topic
            </a>
            <br>
        </div>

        <div class='dashboard__shop-btn-container dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
            <h2>Shop</h2>
            <br>
            <a class='btn dashboard__btn' routerLink='/shop/products/editor'>
                Create Product
            </a>
            <a class='btn dashboard__btn' routerLink='/shop/categories/editor'>
                Create Category
            </a>
            <br>
        </div>

        <div class='dashboard__files-btn-container dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
            <h2>Files</h2>
            <br>
            <a
                class='btn dashboard__btn'
                (click)='startUploadProcess();'
            >
                Upload File
            </a>
            <br>
        </div>

        <div class='dashboard__logout-btn-container dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
            <div class='section-divider--half'></div>
            <a
                class='btn dashboard__btn btn--warn'
                [ngClass]="{'btn-loading': isLoggingOut}"
                (click)="onLogoutClick()"
            >
                <ng-container *ngIf='isLoggingOut'>
                    <div class='btn-loader-container'>
                        <div class='btn-loader--warn'></div>
                    </div>
                </ng-container>
                <ng-container *ngIf='!isLoggingOut'>
                    Logout
                </ng-container>
            </a>
        </div>
    </div>
</div>

<ui-file-upload-modal [modalId]='modalId'></ui-file-upload-modal>

<ng-template #loading>
    <ui-loading-spinner></ui-loading-spinner>
</ng-template>
