@import 'variables';

.posts {
    min-height: calc(41vh + 1px);
}

.posts__header {
}

.posts__post-container {
    
}

.posts__post-anchor-wrapper {
    
}

.posts__post {
    background-color: $color-light;
    padding: $padding;
}

.posts__post-header {
    margin-bottom: $half-margin;
}

.posts__post-date {
    color: $color-dark;
    margin-bottom: $margin;
}

.posts__post-topic-list {
    color: $color-secondary;
    display: grid;
    grid-gap: $quarter-margin;
}

.posts__post-topic-item {
    color: $color-secondary;
    font-style: italic;
    text-decoration: underline;
}

.posts__post-preview {
    color: $color-dark;
}