<div class='blog' *ngIf='isLoaded'>
    <h1 class='blog__header'>Welcome to my blog!</h1>

    <h2 class='blog__filter-header'>Topics:</h2>
    <div class='blog__filter-btn-container'>
        <button 
            *ngFor='let topic of getTopicArray()'
            [ngClass]="{'btn--active': topic[1]}"
            class='btn blog__filter-btn' 
            (click)='posts = getPosts(topic[0])'
            type='button'
        >
            {{ topic[0] }}
        </button>
    </div>
</div>

<app-post-collection [content]='posts' [showPreview]='true'></app-post-collection>

<div class='section-divider'></div>