<div class='section checkout' *ngIf='isLoaded; else loading'>
    <h1 class='checkout__header'>
        Thanks for your purchase!
    </h1>

    <h3 class='checkout__order-number'>
        Order No. {{ paddedOrderNumber() }}
    </h3>

    <p class='checkout__info'>
        A download URL has been sent to the email you provided.
        If you have any questions, please refer to the
        <a class='checkout__info-link' routerLink='/shop/faq'>FAQ page</a>
        or feel free to send me an
        <a class='checkout__info-link' [href]='"mailto:" + obfuscationService.constructEmail()'>email</a>.
    </p>

    <p class='checkout__last'>
        Cheers!
    </p>
</div>

<ng-template #loading>
    <ui-loading-spinner></ui-loading-spinner>
</ng-template>