/* PAGE LAYOUT VARIABLES */

/* PAGE */
$padding-top: 2rem;
$padding-side: 2rem;
$padding-bottom: 2rem;

/* NAVIGATION */
$nav-height: 10vh;

/* LANDING CONTAINER */
$landing-padding-top: 12vh;
$landing-height: 90vh;

/* PROJECT CONTAINER */
$padding-top: 5vh;
$project-height: 90vh;
$text-container-padding-top: 18vh;
$text-container-padding-side: 10vw;