/* PAGE DEFAULTS */

html, body {
    font-family: "Noe Display Bold", "GT Sectra", "Louis George Cafe", "arial";
    font-size: 16px;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, a, div {
    margin: 0;
    padding: 0;
    border: 0;
}