/* NAV STYLING */

@import "_colors";
@import "_fonts";
@import "_layout";

.nav-container {
    width: 100%;
    height: $nav-height;
    display: inline-block;
    padding: $padding-top $padding-side;
    background-color: lighten($color-dark, 63);
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    a:visited {
        text-decoration: none;
        color: $dark-text;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }

    .text-logo {
        text-decoration: none;
        font-size: 2.5rem;
        font-family: "GT Sectra";
        color: $light-text;
    }

    .links-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .link-item {
        font-family: "Louis George Cafe";
        font-size: 1.2rem;
        margin-left: 3rem;
        text-decoration: none;
        color: $color-light;
    }
}