/* NAV STYLING */

@import "_colors";
@import "_fonts";

.nav-container {
    width: 95vw;
    height: 10vh;
    padding: 0vh 2.5vw;
    background-color: lighten($offWhite, 5);
    display: flex;
    flex-direction: row;
    top: 0;

    a:visited {
        text-decoration: none;
        color: $black;
    }

    .logo-container {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: center;
    }

    .text-logo {
        text-decoration: none;
        font-size: 2rem;
        font-family: "GT Sectra";
        color: $black;
    }

    .links-container {
        display: flex;
        flex: 3;
        justify-content: flex-end;
        align-items: center;
    }

    .link-item {
        font-family: "Louis George Cafe";
        font-size: 1.2rem;
        margin-left: 5vw;
        text-decoration: none;
        color: $black;
    }
}