/* NAV STYLING */

@import "_colors";
@import "_fonts";
@import "_layout";

.nav-container {
    width: $minus-side-margins;
    height: 10vh;
    padding: 0 2rem;
    background-color: lighten($offWhite, 5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;

    a:visited {
        text-decoration: none;
        color: $black;
    }

    .logo-container {
        display: flex;
        flex: 1;
        align-items: center;
    }

    .text-logo {
        text-decoration: none;
        font-size: 2rem;
        font-family: "GT Sectra";
        color: $black;
    }

    .links-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .link-item {
        font-family: "Louis George Cafe";
        font-size: 1.2rem;
        margin-left: 3rem;
        text-decoration: none;
        color: $black;
    }
}