/* PROJECT STYLING */

@import "_colors";
@import "_layout";

#operation-home {
    .project-img-container {
        background-color: $operation-home-background;
        align-items: end;
    }
}

#distortion-plugin {
    .project-img-container {
        background-color: $distortion-plugin-background;
        align-items: center;
    }
}

#jlpt-scrape {
    .project-img-container {
        background-color: $black;
        align-items: center;
    }
}

.project-container {
    height: 150vh;
    width: 100vw;
    display: block;
    background-color: lighten($offWhite, 1);
    box-sizing: border-box;
    .project-inner-container {
        box-sizing: border-box;
        display: grid;
        grid-template-areas:
            "image"
            "text";
        .project-img-container {
            color: lighten($color-dark, 50);
            grid-area: image;
            height: 80vh;
            width: 100vw;
            display: grid;
            img {
                max-height: 80vh;
                width: 100%;
            }
        }
        .project-text-container {
            height: 100vh;
            width: 100%;
            padding: $padding-top $padding-side;
            box-sizing: border-box;
            grid-area: text;
            .project-title {
                margin-bottom: 3rem;
                font-size: 2.5rem;
            }
            .project-subtitle {
                font-size: 1.5rem;
                font-style: italic;
                font-family: "Louis George Cafe";
                margin-bottom: 1.5rem;
                color: lighten($black, 40);
            }
            .project-description {
                font-family: "Louis George Cafe";
                font-size: 1.25rem;
                line-height: 2rem;
                margin-bottom: 3rem;
            }
            .read-more {
                font-size: 1.25rem;
                font-family: "Louis George Cafe";
                text-decoration: none;
                color: darken($color-light, 20);
            }
            .icon-container {
                display: inline;
                max-height: 1rem;
                color: lighten($black, 20);
                img {
                    height: 3rem;
                    margin-right: 2rem;
                    transition: 0.3s;
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .project-container {
        height: 100vh;
        padding: 0 0 20vh;
        .project-inner-container {
            grid-template-areas:
                "text image";
            align-items: center;
            justify-items: center;
            .project-img-container {
                height: 90vh;
                img {
                    width: 50vw;
                    height: auto;
                    transition: 0.3s;
                }
            }
            .project-text-container {
                width: 50vw;
                grid-row-start: 1;
                padding: $text-container-padding-top $text-container-padding-side;
                .icon-container {
                    img {
                        &:hover {
                            transform: translateY(-0.25rem);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1523px) {
}
