@import "_colors";
@import "_layout";

.project-container {
    height: 100vh;
    width: 100vw;
    display: block;
    background-color: lighten($offWhite, 1);
    box-sizing: border-box;
    .project-inner-container {
        box-sizing: border-box;
        display: grid;
        grid-template-areas:
            "image"
            "text";
        .project-img-container {
            grid-area: image;
            img {
                height: 50vh;
                width: 100vw;
            }
        }
        .project-text-container {
            height: 50vh;
            width: 100%;
            color: $dark-text;
            padding: $padding-top $padding-side;
            box-sizing: border-box;
            grid-area: text;
            .project-title {
                margin-bottom: 1.5rem;
                font-size: 2rem;
            }
            .project-subtitle {
                font-size: 1.25rem;
                font-style: italic;
                font-family: "Louis George Cafe";
                margin-bottom: 1.5rem;
            }
            .project-description {
                font-family: "Louis George Cafe";
                font-size: 1.2rem;
                margin-bottom: 1.5rem;
            }
            .read-more {
                font-size: 1.5rem;
                font-family: "Louis George Cafe";
                text-decoration: none;
                color: darken($color-light, 20);
            }
        }
    }
}

@media (min-width: 1000px) {
    .project-container {
        padding: $padding-top 0;
        .project-inner-container {
            grid-template-areas:
                "text image";
            align-items: center;
            justify-items: center;
            .project-img-container {
                img {
                    width: 50vw;
                    height: $project-height;
                }
            }
            .project-text-container {
                width: 50vw;
                grid-row-start: 1;
                padding: 0 $text-container-padding-side;
            }
        }
    }
}