@font-face {
    font-family: "Louis George Cafe";
    src: url("/src/static/fonts/louis-george-cafe.ttf");
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 26px;
}

p {
    font-size: 24px;
}

a {
    text-decoration: none;
}

button, input:focus {
    outline: 0;
}

body {
    font-family: "Louis George Cafe", "Arial";
    font-size: 100%;
    letter-spacing: 0.6px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #5b2c6f;
    height: 92.5vh;
}

main {
    padding: 15px;
    justify-content: center;
    color: #202020; 
    background-color: #ffffff;
}

footer {
    background-color: #202020;
    padding: 10px 0px 10px 0px;
}

header, footer {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    color: #f4ecf7;
}

.content {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#branding {
    display: grid;
    grid-template-areas: "header-logo . . header-nav";
    padding: 30px 0px 30px 30px;
    border-bottom: 1px solid #f4ecf7;
}

#header-logo {
    max-width: 60px;
    grid-area: header-logo;
    fill: #e8daef;
}

nav {
    grid-area: header-nav;
    display: grid;    
    align-self: end;
    justify-self: end;
    margin-right: 30px;
}

#navbar-nav {
    position: fixed;
    height: 100%;
    width: 0%;
    z-index: 1;
    top: 0px;
    right: 0px;
    background-color: #202020;
    overflow-x: hidden;
    transition: 0.25s;
    transition-property: width;
    text-align: left;
    padding: 30px 0px;
}

#navbar-nav a {
    text-decoration: none;
    margin: 0px 0px 40px 0px;
    font-size: 32px;
    color: #e8daef;
    display: block;
}

#navbar-nav a:hover {
    text-decoration: underline;
}

#navbar-close {
    font-size: 25%;
}

#navbar-open {
    cursor: pointer;
    background: none;
    border: none;
    fill: #e8daef;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar-open p {
    font-size: 24px;
    color: #e8daef;
}

#navbar-open svg {
    width: 36px;
    margin-left: 15px;
}

#about {
    padding: 20px;
    font-size: 32px;
    width: 66%;
}

#about p {
    font-size: 28px;
}

.colored-text {
    color: #bb8fce;
}

#skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    transform: translateY(-40px);
}

.skill-item {
    background-color: #F5F5F5;
    border-radius: 4px;
    box-shadow: 0px 1px 5px grey;
    display: inline;
    padding: 10px 30px 10px 30px;
}

.skill-item h2 {
    text-align: center;
    margin: 20px 15px 20px 15px;
}

.skill-item div {
    display: flex;
    justify-content: center;
}

.skill-item div img {
    height: 50px;
    margin: 0px 15px 0px 15px;
}

.skill-description {
    font-size: 24px;
}

.skill-names {
    font-size: 18px;
    color: #717d7e;
    font-style: italic;
}

#projects {
    background-color: #f4ecf7;
    margin: -15px;
}

.projects-wrapper {
    margin: 15px;
    padding: 30px 0px 30px 0px;
    display: grid;
    border-radius: 4px;
    grid-template-areas: 
        "projects-text project-grid";
    grid-gap: 20px;
}

.projects-text {
    grid-area: projects-text;
}

.project-grid {
    grid-area: project-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project {
    background-color: #5b2c6f;
    color: #f5f5f5;
    min-height: 30vh;
    padding: 10px 30px 10px 30px;
    transition: 0.2s;
    box-shadow: 0px 1px 5px grey;
}

.project:hover {
    background-color: #8e44ad;
    box-shadow: 0px 4px 7.5px grey;
    transform: translateY(-2px);
}

.project-tech {
    font-size: 18px;
    color: #ccd1d1;
    font-style: italic;
}

#contact {
    display: grid;
    padding: 30px 0px 0px 0px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#message {
    font-family: "Louis George Cafe";
    min-width: 100%;
    resize: vertical;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    font-size: 16px;
    background-color: #7d3c98;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8e44ad;
}

.form-input-status {
    font-style: oblique;
}

#social-media-icons {
    display: flex;
    justify-content: center;
    transform: translateX(-20px);
}

.social-media-icon {
    margin: 0px 20px 0px 20px;
    padding: 20px;
    max-height: 60px;
    transition: 0.2s;
    fill: #f4ecf7;
}

.social-media-icon:hover{
    transform: translateY(-3px);
}

#copyright {
    text-align: center;
    color: #f4ecf7;
    font-size: 18px;
}