@font-face {
    font-family: "Louis George Cafe";
    src: url("/src/static/fonts/louis-george-cafe.ttf");
}

body {
    font-family: "Louis George Cafe", "Sans-Serif", "Arial";
    overflow-x: hidden;
}