@import 'variables';

.register {
    min-height: 86vh;
}

.register__header {
    text-align: center;
    margin-bottom: $margin;
}

.register__form {
    text-align: center;
}

.register__form-field {
    
}

.register__form-btn {
    line-height: $btn-height;
    margin-top: $half-margin;
    width: 50vw;
}