@import 'variables';

.register {
    height: calc(100vh - #{$header-height} - #{$footer-height} * 2 - #{$section-divider-height});
}

.register__header {
    text-align: center;
    margin-bottom: $margin;
}

.register__form {
    text-align: center;
}

.register__form-field {
    
}

.register__form-btn {
    height: $btn-height;
    line-height: $btn-height;
    margin-top: $half-margin;
    width: 180px;
}

@media only screen and (min-width: 768px) {
    ::ng-deep .section-divider {
        height: 15vh;
    }
}
