<div class="section editor">
    <h1 class='editor__header'>Project Editor</h1>

    <div class="line-divider"></div>

    <form class='editor__form' [formGroup]='projectForm' (ngSubmit)='onSubmit()'>
        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Name</label>
            <br><br>
            <input formControlName='name' required autofocus>
        </div>

        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Tagline</label>
            <br><br>
            <input formControlName='tagline' required>
        </div>

<!--        <div class='form-field editor__form-field'>-->
<!--            <label class='form-field-label editor__form-field-label'>Profiles</label>-->
<!--            <br><br>-->
<!--            <ng-container formArrayName='profiles' *ngFor='let profile of projectForm.controls.profiles["controls"]; let idx = index'>-->
<!--                <mat-checkbox [formControlName]='idx'>{{ profiles[idx].name }}</mat-checkbox>-->
<!--                <br>-->
<!--            </ng-container>-->
<!--        </div>-->

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Description</label>
            <br><br>
            <textarea formControlName='description' required></textarea>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Image URL</label>
            <br><br>
            <input formControlName='imageUrl' required>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>External URL</label>
            <br><br>
            <input formControlName='externalUrl' required>
        </div>

        <button
            [ngClass]="{'btn--inactive': !projectForm.valid}"
            class='btn editor__form-btn'
            [disabled]='!projectForm.valid'
        >
            Submit
        </button>
    </form>
</div>
