<div class='section editor' *ngIf='isLoaded; else loading'>
    <h1 class='editor__header'>Project Editor</h1>

    <div class="line-divider"></div>

    <form class='editor__form' [formGroup]='projectForm' (ngSubmit)='onSubmit()'>
        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Name</label>
            <br><br>
            <input formControlName='name' required autofocus>
        </div>

        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Profiles</label>
            <br><br>
            <ng-container formArrayName='profiles' *ngFor='let profile of projectForm.controls.profiles["controls"]; let idx = index'>
                <mat-checkbox [formControlName]='idx'>{{ profileData[idx].name }}</mat-checkbox>
                <br>
            </ng-container>
        </div>

        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Tagline</label>
            <br><br>
            <input formControlName='tagline' required>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Description</label>
            <br><br>
            <textarea formControlName='description' required></textarea>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Image URL</label>
            <br><br>
            <input formControlName='image_url' required>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Link</label>
            <br><br>
            <label class='form-field-label--small editor__form-field-label--small'>Name</label>
            <br><br>
            <input formControlName='link_name' required>
            <br><br>
            <label class='form-field-label--small editor__form-field-label--small'>URL</label>
            <br><br>
            <input formControlName='link_url' required>
        </div>

        <button
            [ngClass]="{'btn--inactive': !projectForm.valid}"
            class='btn editor__form-btn  editor__form-btn--submit'
            [disabled]='!projectForm.valid'
        >
            Submit
        </button>
    </form>
</div>

<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>