// RESET PAGE'S DEFAULT CSS

* {
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Noe Display Bold", "GT Sectra", "Louis George Cafe", "arial";
    font-size: 16px;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
}