@import 'variables';

.project {

}

.project__name {
    margin-bottom: $half-margin;
}

.project__tagline {
    color: $color-light;
    font-style: italic;
    font-weight: 500;
    margin-bottom: $margin;
}

.project__btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.project__btn {
    font-size: 130%;
    height: $small-btn-height;
    line-height: $small-btn-height;
    margin: 0 $quarter-margin $margin 0;
    padding: $quarter-padding;
    width: 15vw;
}

.project__external-container {
    display: flex;
    flex-direction: row;
}

.project__external-icon {
    margin-right: $half-margin;
}

.project__image {
    height: auto;
    margin-bottom: $margin;
    width: 100%;
}
