<div class='section project' *ngIf='isLoaded'>
    <h1 class='project__title'>{{ project.title }}</h1>
    <h2 class='project__subtitle'>{{ project.subtitle }}</h2>
    
    <div class="project__btn-container" *ngIf='isAdmin'>
        <a class='btn project__btn' (click)='sendProjectToEditor()' routerLink='/editor' [queryParams]='{type: "project"}'>
            &#x270F;
        </a>
        <a class='btn project__btn btn--warn' (click)='deleteProject()' routerLink=''>
            &#x2715;
        </a>
    </div>

    <div class='project__external-container'>
        <ng-container *ngFor='let external of project.externals'>
            <a class='icon project__external-icon' [href]='external.URL' target='_blank'>
                <app-icon [external]='external'></app-icon>
            </a>
        </ng-container>
    </div>

    <div class="line-divider"></div>

    <img class='project__image' [src]='project.imageURL' height=150>

    <markdown [data]='project.description'></markdown>
</div>

<div class='section-divider'></div>