<div [id]='modalId' class='modal hidden'>
    <div class='modal__background' (click)='closeModal()'></div>

    <div class='modal__body'>
        <div class='modal__close-btn-container'>
            <button aria-label='Close shop checkout modal' class='modal__close-btn' (click)='closeModal()'>
                &#10006;
            </button>
            <div class='modal__close-btn-spacer'></div>
        </div>

        <div class='modal__content'>
            <h1 class='modal__header'>Delete File</h1>
            <div class='modal__info'>
                Please specify the file's corresponding bucket and URI, and it will be deleted (if it exists).
            </div>

            <form class='editor__form' [formGroup]='modalForm' (ngSubmit)='submitModalForm()' enctype='multipart/form-data'>
                <div class="form-field editor__form-field">
                    <label class='form-field-label editor__form-field-label'>Bucket</label>
                    <br><br>
                    <mat-radio-group formControlName='bucket' name='bucket' required>
                        <mat-radio-button
                            *ngFor='let b of buckets trackBy: this.trackingService.objectById'
                            [value]='b'
                        >{{ b }}</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class='form-field editor__form-field'>
                    <label class='form-field-label editor__form-field-label'>URI</label>
                    <br><br>
                    <input formControlName='uri' required autofocus>
                </div>

                <button
                        aria-label='Select file to upload'
                        [ngClass]="{'btn-loading': isDeletingFile, 'btn--inactive': !modalForm.valid}"
                        class='btn btn--warn editor__form-btn  editor__form-btn--submit'
                        [disabled]='!modalForm.valid'
                >
                    <ng-container *ngIf='isDeletingFile'>
                        <div class='btn-loader-container'>
                            <div class='btn-loader btn-loader--warn'></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf='!isDeletingFile'>
                        Delete
                    </ng-container>
                </button>
            </form>
        </div>
    </div>
</div>
