* {
    font-family: "Louis George Cafe", "Arial";
    letter-spacing: 0.8px;
}

@font-face {
    font-family: "Louis George Cafe";
    src: url("/src/css/fonts/louis-george-cafe.ttf");
}

.page-item {
    background-color: #D3D3D3;
    border-radius: 4px;
    padding: 8px 15px 8px 15px;
    margin: 20px 0px 20px 0px;
}

#branding {
    display: grid;
    grid-template-areas: "header-logo header-nav";
    margin: 15px 15px 15px 15px; 
}

#main-logo {
    max-width: 90px;
}

h1 {
    grid-area: header-logo;
}

nav {
    grid-area: header-nav;
    text-align: right;
    font-size: 20px;
}

nav ul li a:link {
    text-decoration: none;
    color: #0E7989;
}

nav ul li a:visited {
    color: #0E7989;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #54A6B2;
}

#nav-list {
    list-style: none;
}

#nav-list li {
    display: inline-block;
    margin: 15px 0px 15px 15px;
}

.skill-item {
    background-color: #F5F5F5;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 15px 0px;
    border-radius: 4px;
    display: grid;
    grid-template-areas: 
        "skill-type skill-description"
        "skill-icons skill-description"
        "skill-icons skill-names";
    grid-template-columns: 50%;
    transition: 0.25s;
}

.skill-item:hover {
    box-shadow: 0px 5px 5px grey;
    transform: translateY(-2px);
}

.skill-item h3 {
    margin: 15px 10px 0px 10px;
    grid-area: skill-type;
    text-decoration: underline;
}

.skill-item div {
    display: flex;
    justify-content: left;
    grid-area: skill-icons;
}

.skill-item div img {
    height: 45px;
    max-width: 145px;
    margin: 22.5px 10px 22.5px 10px;
    display: block;
}

.skill-description {
    grid-area: skill-description;
}

.skill-names {
    grid-area: skill-names;
    font-size: 14px;
    font-style: italic;
}

#contact {
    display: grid;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#message {
    font-family: "Louis George Cafe";
    min-width: 100%;
    resize: vertical;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    font-size: 16px;
    background-color: #0E7989;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2C8996;
}


#social-media-icons {
    display: flex;
    justify-content: center;
}

.social-media-icon {
    margin: 0px 20px;
    padding: 20px 20px;
    max-height: 45px;
    transition: 0.25s;
}

.social-media-icon:hover{
    transform: translateY(-2px);
}

#copyright {
    text-align: center;
}