<div class='section project' *ngIf='isLoaded; else loading'>
    <h1 class='project__name'>{{ project.name }}</h1>
    <h2 class='project__tagline'>{{ project.tagline }}</h2>

    <div class="project__btn-container" *ngIf='isAdmin'>
        <a class='btn project__btn' (click)='sendProjectToEditor()' routerLink='/editor' [queryParams]='{type: "project", id: project.id}'>
            &#x270F;
        </a>
        <a class='btn project__btn btn--warn' (click)='deleteProject()' routerLink=''>
            &#x2715;
        </a>
    </div>

    <p class='project__date' [innerHtml]='"Updated: " + seoService.getFormattedDate(project.updated_at)'></p>

    <div class='project__external-container'>
        <a class='icon project__external-icon' [href]='project.link_url' target='_blank' rel='noopener noreferrer'>
            <app-icon [name]='project.link_name'></app-icon>
        </a>
    </div>

    <div class="line-divider"></div>

    <div class='project__image-link-container'>
        <a class='project__image-link' [href]='project.link_url' target='_blank' rel='noopener noreferrer'>
            <picture>
                <source [srcset]="project.image_url" type="image/webp">
                <source [srcset]="project.image_url.substring(0, project.image_url.length - 4) + 'png'" type="image/png">
                <img class='project__image' [src]='project.image_url.substring(0, project.image_url.length - 4) + "png"' [alt]='project.name + "image"' height=150>
            </picture>
        </a>
    </div>

    <markdown [data]='project.description'></markdown>

</div>

<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>