@use  'markdown';
@use 'variables' as *;

.project {
    min-height: calc(100vh - #{$header-height} - #{$footer-height} * 2 - #{$section-divider-height});
}

.project__name {
    margin-bottom: $half-margin;
}

.project__tagline {
    color: $color-light;
    font-style: italic;
    font-weight: 500;
    margin-bottom: $margin;
}

.project__btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.project__btn {
    font-size: 130%;
    height: $small-btn-height;
    line-height: $small-btn-height;
    margin: 0 $quarter-margin $margin 0;
    width: $small-btn-width;
}

.project__date {
    font-style: italic;
    margin-bottom: $half-margin;
}

.project__external-container {
    display: flex;
    flex-direction: row;
}

.project__external-icon {
    margin: $quarter-margin 0 0;
    transition: transform $hover-transition-duration ease;
}

.project__image-link-container {
    text-align: center;
    width: 100%;
}

.project__image-link {
    text-align: center;
    width: 100%;
}

.project__image {
    height: auto;
    margin-bottom: $margin;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .project__external-icon {
        &:hover {
            transform: translateY($hover-transition-transform);
        }
    }

    .project__image {
        width: 64%;
    }
}
