@import 'variables';

.project {

}

.project__name {
    margin-bottom: $half-margin;
}

.project__tagline {
    color: $color-light;
    font-style: italic;
    font-weight: 500;
    margin-bottom: $margin;
}

.project__btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.project__btn {
    font-size: 130%;
    height: $small-btn-height;
    line-height: $small-btn-height;
    margin: 0 $quarter-margin $margin 0;
    width: $small-btn-width;
}

.project__date {
    font-style: italic;
    margin-bottom: $half-margin;
}

.project__external-container {
    display: flex;
    flex-direction: row;
}

.project__external-icon {
    margin: $quarter-margin 0 0;
    transition: transform $hover-transition-duration ease;
}

.project__image-link-container {
    text-align: center;
    width: 100%;
}

.project__image-link {
    text-align: center;
    width: 100%;
}

.project__image {
    height: auto;
    margin-bottom: $margin;
    width: 100%;
}

markdown ::ng-deep a {
    color: $color-primary;
    display: inline-block;
}

markdown ::ng-deep img {
    box-sizing: border-box;
    text-align: center;
    max-width: 90%;
}

markdown ::ng-deep p code {
    background-color: $color-dark-light;
    box-sizing: border-box;
    color: $color-white;
    margin: 0 calc(#{$quarter-margin} / 2);
    padding: calc(#{$quarter-padding} / 4) calc(#{$quarter-padding} / 2);
}

@media only screen and (min-width: 768px) {
    .project__external-icon {
        &:hover {
            transform: translateY($hover-transition-transform);
        }
    }

    markdown ::ng-deep a:hover {
        text-decoration: underline;
    }

    .project__image {
        width: 64%;
    }
}