@font-face {
  font-family: "Rubik";
  src: url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");
}
@font-face {
  font-family: "Abhaya Libre";
  src: url("https://fonts.googleapis.com/css?family=Abhaya+Libre:400,500,700&display=swap");
}
@font-face {
  font-family: "Louis George Cafe";
  src: url("../fonts/louis-george-cafe.ttf");
}
@font-face {
  font-family: "Noe Display Bold";
  src: url("../fonts/noe-display-bold.ttf");
}
@font-face {
  font-family: "GT Sectra";
  src: url("../fonts/gt-sectra-fine-bold.ttf");
}
* {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Noe Display Bold", "GT Sectra", "Louis George Cafe", "arial";
  font-size: 16px;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
}

.nav-container {
  background-color: #0c0e20;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
}
.nav-container a:visited {
  text-decoration: underline;
}
.nav-container .links-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.nav-container .link-item {
  font-family: "Louis George Cafe";
  font-size: 1.2rem;
  margin-left: 2rem;
  text-decoration: none;
  color: #a0aeae;
  transition: 0.2s;
}
.nav-container .logo-container {
  align-items: center;
  display: flex;
}
.nav-container .text-logo {
  color: #a0aeae;
  font-family: "GT Sectra";
  font-size: 2rem;
  margin-left: -0.5rem;
  text-decoration: none;
}

@media (max-height: 420px) and (max-width: 850px) {
  .nav-container .link-item {
    font-size: 1.5rem;
  }
  .nav-container .text-logo {
    font-size: 2rem;
  }
}
@media (min-height: 760px) and (min-width: 1000px) {
  .nav-container .link-item {
    font-size: 1.5rem;
  }
  .nav-container .text-logo {
    font-size: 3rem;
  }
}
@media (min-height: 1000px) and (min-width: 760px) {
  .nav-container .link-item {
    font-size: 1.5rem;
  }
  .nav-container .text-logo {
    font-size: 2.5rem;
  }
}
@media (min-height: 1000px) and (min-width: 1300px) {
  .nav-container .link-item:hover, .nav-container .text-logo:hover {
    color: lightgray;
  }
}
.landing-container {
  max-width: 100%;
  height: 90vh;
  background-color: #fbfbfb;
  color: #0f1127;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  padding: 15vh 2rem 2.5rem;
}
.landing-container .tagline-container .landing-header {
  margin-right: 0;
  font-size: 3rem;
}
.landing-container .tagline-container .landing-sub-header {
  font-family: Louis George Cafe, sans-serif, arial;
  font-weight: 300;
  margin-top: 1rem;
  opacity: 0.7;
}
.landing-container .scroll-container {
  text-align: center;
  justify-content: flex-end;
}
.landing-container a {
  font-family: "Louis George Cafe";
  font-size: 1.5rem;
  color: #868686;
  text-decoration: none;
}

@media (max-width: 850px) and (max-height: 420px) {
  .landing-container {
    padding: 10vh 2rem 3rem;
  }
}
@media (min-height: 1000px) and (min-width: 1300px) {
  .landing-container a {
    display: inline-block;
    transition: 0.5s;
  }
  .landing-container .tagline-container a:hover {
    transform: translateX(30px);
  }
  .landing-container .scroll-container a:hover {
    transform: translateY(30px);
  }
}
#counterplay .project-img-container {
  align-items: center;
  background-color: #2e2d2d;
}

#operation-home .project-img-container {
  align-items: end;
  background-color: #000315;
}

#cozy-cat-cafe .project-img-container {
  align-items: center;
  background-color: #fbfbfb;
}
#cozy-cat-cafe .project-img-container img {
  height: 90vh;
}

#rotor .project-img-container {
  align-items: center;
  transform: translateX(-50%);
}
#rotor .project-img-container img {
  height: 90vh;
  width: 200%;
}

.project-container {
  height: auto;
  width: 100vw;
  background-color: #fbfbfb;
  box-sizing: border-box;
}
.project-container .project-inner-container {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "image" "text";
}
.project-container .project-inner-container .project-img-container {
  grid-area: image;
  color: #c6c9e9;
  height: 90vh;
  width: 100vw;
  display: grid;
}
.project-container .project-inner-container .project-img-container img {
  height: auto;
  width: 100%;
}
.project-container .project-inner-container .project-text-container {
  grid-area: text;
  height: auto;
  width: 100%;
  padding: 5vh 2rem;
  box-sizing: border-box;
  font-family: "Louis George Cafe";
}
.project-container .project-inner-container .project-text-container .project-title {
  font-family: "GT Sectra";
  margin-bottom: 3rem;
  font-size: 2.5rem;
}
.project-container .project-inner-container .project-text-container .project-subtitle {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1.5rem;
  color: #868686;
}
.project-container .project-inner-container .project-text-container .project-description {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
.project-container .project-inner-container .project-text-container .read-more {
  font-size: 1.25rem;
  font-family: "Louis George Cafe";
  text-decoration: none;
  color: #333873;
}
.project-container .project-inner-container .project-text-container .icon-container {
  display: inline;
  max-height: 1rem;
  color: #535353;
}
.project-container .project-inner-container .project-text-container .icon-container img {
  height: 3rem;
  margin-right: 2rem;
  transition: 0.3s;
}

@media (min-width: 760px) {
  .project-container .project-inner-container .project-text-container .icon-container img:hover {
    transform: translateY(-0.25rem);
  }
}
@media (min-width: 1025px) {
  #rotor .project-img-container {
    align-items: center;
    transform: translateX(0%);
  }
  #rotor .project-img-container img {
    height: 90vh;
    width: 100%;
  }

  .project-container {
    height: auto;
    padding: 0 0;
  }
  .project-container .image-first {
    flex-direction: row-reverse;
  }
  .project-container .text-first {
    flex-direction: row;
  }
  .project-container .project-inner-container {
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .project-container .project-inner-container .project-img-container {
    width: 50vw;
    height: 90vh;
    margin: 5vh 0;
    transition: 0.2s;
  }
  .project-container .project-inner-container .project-img-container img {
    width: 50vw;
    height: auto;
    transition: 0.3s;
  }
  .project-container .project-inner-container .project-img-container:hover {
    opacity: 0.75;
  }
  .project-container .project-inner-container .project-text-container {
    width: 50vw;
    height: auto;
    grid-row-start: 1;
    padding: 4vh 7vw;
  }
  .project-container .project-inner-container .project-text-container p {
    font-size: 12px;
  }
}
.tech-stack-container {
  padding: 5vh 5vw 0;
  background-color: #f5f7f7;
  height: auto;
}
.tech-stack-container .tech-stack-title {
  text-align: center;
  font-family: "GT Sectra";
  font-size: 150%;
}
.tech-stack-container .tech-stack-logos {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;
  padding: 5vw;
  height: auto;
}
.tech-stack-container .tech-stack-logos .tech-stack-logos-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5rem;
}
.tech-stack-container .tech-stack-logos .tech-stack-logos-item img {
  height: 4rem;
  margin: 0.75rem 0.1rem;
}
.tech-stack-container .tech-stack-logos .tech-stack-logos-item p {
  margin-top: 0rem;
  font-family: "Louis George Cafe";
  text-align: center;
}

@media (max-width: 790px) {
  .tech-stack-container .tech-stack-title {
    margin-bottom: 3rem;
  }
  .tech-stack-container .tech-stack-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
  }
  .tech-stack-container .tech-stack-logos .tech-stack-logos-item {
    margin-bottom: 3rem;
    padding: auto;
  }
}
@media (max-width: 1049px) and (min-width: 791px) {
  .tech-stack-container {
    height: 25vh;
  }
  .tech-stack-container .tech-stack-logos-item img {
    height: 4rem;
  }
}
@media (min-width: 1050px) {
  .tech-stack-container {
    height: 45vh;
  }
  .tech-stack-container .tech-stack-logos {
    display: grid;
  }
  .tech-stack-container .tech-stack-logos .tech-stack-logos-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw;
    height: auto;
  }
  .tech-stack-container .tech-stack-logos .tech-stack-logos-item img {
    height: 5rem;
  }
}
.read-more {
  font-family: "Louis George Cafe";
  text-decoration: none;
}

.footer-background {
  background-color: #0c0e20;
}
.footer-background .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 2rem 0;
}
.footer-background .footer-container .footer-title {
  font-family: "GT Sectra";
  text-align: left;
  font-size: 24px;
  color: #a0aeae;
  margin-bottom: 2rem;
}
.footer-background .footer-container .footer-text-container {
  margin-bottom: 5vh;
}
.footer-background .footer-container .footer-text-container .resume-section {
  font-family: "Louis George Cafe";
  font-size: 1.25rem;
  color: #a0aeae;
  text-align: left;
  height: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.footer-background .footer-container .footer-text-container .resume-section .resume-section-title {
  margin-bottom: 0.5rem;
  font-size: 90%;
}
.footer-background .footer-container .footer-text-container .resume-section .resume-section-description {
  font-size: 90%;
}
.footer-background .footer-container .footer-text-container .resume-section .icon-container {
  display: inline;
}
.footer-background .footer-container .footer-text-container .resume-section .icon-container svg {
  fill: #a0aeae;
  height: 2rem;
  margin-right: 2rem;
}
.footer-background .footer-container .footer-text-container #back-to-top a {
  color: #a0aeae;
  text-decoration: none;
}
.footer-background .copyright-container .copyright-text {
  color: #a0aeae;
  font-family: "Louis George Cafe";
  font-size: 1rem;
  padding: 5vh;
  text-align: center;
}

@media (min-width: 760px) {
  .footer-background .footer-container {
    flex-direction: row;
  }
  .footer-background .footer-container .footer-title {
    width: 50vw;
    font-size: 2rem;
  }
  .footer-background .footer-container .footer-text-container {
    width: 50vw;
  }
  .footer-background .footer-container .footer-text-container .resume-section {
    display: flex;
    flex-direction: row;
  }
  .footer-background .footer-container .footer-text-container .resume-section .resume-section-title {
    width: 15vw;
    margin-right: 2rem;
  }
  .footer-background .footer-container .footer-text-container .resume-section .resume-section-description {
    width: 35vw;
  }
  .footer-background .footer-container .footer-text-container .resume-section .icon-container a svg {
    transition: 0.2s;
  }
  .footer-background .footer-container .footer-text-container .resume-section .icon-container a svg:hover {
    transform: translateY(-0.25rem);
    fill: #bcc5c5;
  }
  .footer-background .footer-container .footer-text-container #back-to-top a:hover {
    color: #ea6253;
  }
}
.about-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  width: 100vw;
}
.about-container .about-text-container {
  color: #0f1127;
}
.about-container .about-text-container h2 {
  font-family: "GT Sectra";
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.about-container .about-text-container p {
  color: #868686;
  font-family: "Louis George Cafe";
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.about-container .about-text-container .about-icon-container {
  display: inline;
  padding-bottom: 5vh;
}
.about-container .about-text-container .about-icon-container svg {
  fill: #0f1127;
  height: 2rem;
  margin-right: 2rem;
}
.about-container .about-image-container {
  height: auto;
}
.about-container .about-image-container img {
  border: 1px solid #202020;
  height: auto;
  width: 100%;
}
.about-container > div {
  height: 45vh;
  padding: 5vh 2rem 0;
}

@media (min-width: 760px) {
  .about-container {
    flex: 1 0 0;
    flex-direction: row;
    padding: 5vh 7vw;
  }
  .about-container .about-text-container {
    padding: 4vh 7vw 4vh 0;
  }
  .about-container .about-text-container .about-icon-container a svg {
    transition: 0.2s;
  }
  .about-container .about-text-container .about-icon-container a svg:hover {
    transform: translateY(-0.25rem);
    fill: #1d214c;
  }
  .about-container .about-image-container img {
    height: auto;
    max-height: 80vh;
    width: 31vw;
  }
}

/*# sourceMappingURL=app.css.map */
