// Colors ===========
$offWhite: #F8F9F9;
$black: #202020;
$color-light: #AFB6FF;
$color-normal: #5F6DFF;
$color-dark: #303780;
//==================

@font-face {
    font-family: "Louis George Cafe";
    src: url("../fonts/louis-george-cafe.ttf");
}

@font-face {
    font-family: "Noe Display Bold";
    src: url("../fonts/noe-display-bold.ttf");
}

@font-face {
    font-family: "GT Sectra";
    src: url("../fonts/gt-sectra-fine-bold.ttf");
}

@media (max-width: 400px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 970px) {
    #main-nav {
        display: none;
    }
}

@media (min-width: 971px) {
    #mobile-nav {
        display: none;
    }
}

@media (min-width: 800px) {
    .item-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
}

/* DESKTOP */
@media (min-width: 1152px) {
    #main-nav a:hover {
        text-decoration: underline;
    }

    .project:hover {
        background-color: lighten($color-dark, 40);
        transform: translateY(-0.15rem);
    }

    #submit:hover {
        background-color: lighten($color-dark, 25);
    }

    .content-section {
        max-width: 1152px;
        margin: auto auto;
    }

    .social-media-icon:hover {
        transform: translateY(-0.15rem);
    }

    #branding, #projects {
        margin: 0;
        padding: 1.5rem calc(50vw - 584px);
    }
}

html, body {
    font-size: 12px;
    font-family: "Noe Display Bold", "Noe Display Bold", "Louis George Cafe", "Sans-Serif", "Arial";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    header {
        background-color: lighten($color-dark, 2.5);
        color: lighten($color-light, 10);
    }
    main {
        transform: translateY(-3rem);
        margin-bottom: -3.5rem;
    }
    footer {
        background-color: darken($color-dark, 25);
    }
    a {
        text-decoration: none;
    }
    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }
    .content-section {
        padding: 1.5rem;
    }
    label {
        font-size: 1.75rem;
    }
    .form-input-status {
        font-size: 1.5rem;
        font-style: oblique;
    }
    input, #message {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        box-sizing: border-box;
        font-family: "Noe Display Bold", "Noe Display Bold", "Louis George Cafe", "Sans-Serif", "Arial";
        font-size: 1.5rem;
        margin: 0.75rem 0rem;
        padding: 0.75rem 0.5rem;
        resize: vertical;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    input[type=submit] {
        background-color: lighten($color-dark, 20);
        color: lighten($color-light, 15);
        border: none;
        cursor: pointer;
    }
    #social-media {
        justify-content: center;
        justify-items: center;
    }
    .social-media-icon {
        transition: 0.3s;
    }
    #copyright {
        text-align: center;
        font-size: 1rem;
    }
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 5rem);
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
}

.blue {
    fill: lighten($color-dark, 0);
    color: lighten($color-dark, 40);
}

.white {
    fill: lighten($color-light, 10);
    color: lighten($color-light, 10);
}

#branding {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lighten($color-light, 10);
    .branding-name {
        font-family: "GT Sectra";
    }
    #mobile-nav {
        #navbar-open {
            cursor: pointer;
            background: none;
            border: none;
            fill: lighten($color-light, 10);
        }
        #navbar-close {
            left: 0;
            background-color: darken($color-dark, 5);
            opacity: 0.5;
        }
        #navbar-close, #mobile-nav ul {
            position: fixed;
            height: 100%;
            width: 0%;
            z-index: 1;
            top: 0;
        }
        ul {
            right: 0;
            background-color: darken($color-dark, 5);
            transition: 0.3s;
            transition-property: width;
            text-align: left;
            list-style: none;
            line-height: 4rem;
        }
    }
    #main-nav {
        text-align: right;
        #inline-nav li {
            display: inline;
            list-style: none;
            margin-left: 1.5rem;
        }
    }
    nav a {
        color: lighten($color-light, 10);
        font-family: "Louis George Cafe";
        font-size: 1.5rem;
    }
}

#about {
    padding-bottom: 2.5rem;
}

.content-section {
    padding: 1.5rem;
    .item-container {
        padding: 1rem;
        border-radius: 0.25rem;
        box-shadow: 0px 1px 5px lighten($color-dark, 5);
        display: grid;
        grid-gap: 0.75rem;
        .item-header {
            font-size: 2rem;
        }
        .item-footer {
            font-style: oblique;
            font-size: 1.25rem;
            max-width: 100%;
        }
    }
}

.item-grid {
    display: grid;
    grid-row-gap: 1.5rem;
}

.skill {
    background-color: $offWhite;
    color: darken($color-dark, 25);
}

#projects {
    padding: 1.5rem -1.5rem;
    background-color: lighten($color-light, 13);
    .project {
        background-color: lighten($color-dark, 5);
        color: lighten($color-light, 10);
        transition: 0.3s;
    }
}
