<div class="jumbotron text-center">
    <h2>Welcome to the admin panel!</h2>
    <br>
    
    <div *ngIf='!authService.isLoggedIn()'>
        <a mat-flat-button color='primary' [routerLink]="['/admin/register']">Register</a>
        &nbsp;
        <a mat-flat-button color='secondary' [routerLink]="['/admin/login']">Login</a>
    </div>

    <div *ngIf='authService.isLoggedIn()'>
        <a mat-flat-button color='primary' [routerLink]="['/editor']">Create Post</a>
        &nbsp;
        <a mat-flat-button color='secondary' (click)="onLogoutClick()">Logout</a>
    </div>
</div>  