@import 'variables';

.dashboard {
    min-height: 77vh;
}

.dashboard__header {
    text-align: center;
    margin-bottom: $margin;
}

.dashboard__btn-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.dashboard__btn {
    line-height: $btn-height;
    padding: $quarter-padding;
    margin-bottom: $margin;
    width: 50vw;
}