<div class='section dashboard'>
    <h1 class='dashboard__header'>Dashboard</h1>

    <div class="line-divider"></div>

    <div class='dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
        <h2>Profiles:</h2>
        <br>
        <button 
            [ngClass]="{'btn--active': profile.active}"
            *ngFor='let profile of profileService.getProfiles()'
            class='btn dashboard__profile-btn'
            (click)='changeProfile(profile)'
            type='button'
        >
            {{ profile.name }}
        </button>
        <br><br>
    </div>
    
    <div class='dashboard__btn-container' *ngIf='!authService.isLoggedIn()'>
        <a class='btn dashboard__btn' [routerLink]="['/admin/login']">Login</a>
        <a class='btn dashboard__btn' [routerLink]="['/admin/register']">Register</a>
    </div>

    <div class='dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
        <h2>Blog</h2>
        <br>
        <a class='btn dashboard__btn' [routerLink]="['/editor']" [queryParams]='{type: "post"}'>
            Create Post
        </a>
        <a class='btn dashboard__btn' [routerLink]="['/editor']" [queryParams]='{type: "topic"}'>
            Create Topic
        </a>
        <br><br>
    </div>

    <div class='dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
        <a class='btn dashboard__btn btn--warn' (click)="onLogoutClick()">Logout</a>
    </div>
</div>