<div class='section dashboard'>
    <h1 class='dashboard__header'>Dashboard</h1>

    <div class="line-divider"></div>
    
    <div class='dashboard__btn-container' *ngIf='!authService.isLoggedIn()'>
        <a class='btn dashboard__btn' [routerLink]="['/admin/register']">Register</a>
        <a class='btn dashboard__btn' [routerLink]="['/admin/login']">Login</a>
    </div>

    <div class='dashboard__btn-container' *ngIf='authService.isLoggedIn()'>
        <a class='btn dashboard__btn' [routerLink]="['/editor']" [queryParams]='{type: "post"}'>Create Post</a>
        <a class='btn dashboard__btn' [routerLink]="['/editor']" [queryParams]='{type: "topic"}'>Create Topic</a>
        <a class='btn dashboard__btn' (click)="onLogoutClick()">Logout</a>
    </div>
</div>