// FOOTER MODULE

.read-more {
    font-family: "Louis George Cafe";
    text-decoration: none;
}

.footer-background {
    background-color: darken($color-dark, 26);
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15vh $padding-side 0;
        .footer-title {
            font-family: "GT Sectra";
            text-align: left;
            font-size: 24px;
            color: $light-text;
            margin-bottom: 2rem;
        }
        .footer-text-container {
            margin-bottom: $padding-top;
            .resume-section {
                font-family: "Louis George Cafe";
                font-size: 1.25rem;
                color: $light-text;
                text-align: left;
                height: auto;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: column;
                .resume-section-title {
                    margin-bottom: 0.5rem;
                    font-size: 90%;
                }
                .resume-section-description {
                    font-size: 90%;
                }
                .icon-container {
                    display: inline;
                    svg {
                        fill: $light-text;
                        height: 2rem;
                        margin-right: 2rem;
                    }
                }
            }
            #back-to-top {
                a {
                    color: $light-text;
                    text-decoration: none;
                }
            }
        }
        .copyright-container {
            .copyright-text {
                font-size: 1.25rem;
                color: $light-text;
                margin-top: 2vw;
                font-family: "Louis George Cafe";
            }
        }
    }
}

@media (min-width: 760px) {
    .footer-background {
        .footer-container {
            flex-direction: row;
            .footer-title {
                width: 50vw;
                font-size: 2rem;
            }
            .footer-text-container {
                width: 50vw;
                .resume-section {
                    display: flex;
                    flex-direction: row;
                    .resume-section-title {
                        width: 15vw;
                        margin-right: 2rem;
                    }
                    .resume-section-description {
                        width: 35vw;
                    }
                    .icon-container {
                        a {
                            svg {
                                transition: 0.2s;
                                &:hover {
                                    transform: translateY(-0.25rem);
                                    fill: lighten($light-text, 10);
                                }
                            }
                        }
                    }
                }
                #back-to-top {
                    a {
                        &:hover {
                            color: $text-hover-red;
                        }
                    }
                }
            }
        }
    }
}