<div class='section post' *ngIf='isLoaded; else loading'>
    <h1 class='post__title' *ngIf='post.status.status === "PUBLISHED"'>{{ post.title }}</h1>
    <h1 class='post__title' *ngIf='post.status.status !== "PUBLISHED"'>{{ post.status.status + ": " + post.title }}</h1>

    <h2 class='post__subtitle'>{{ post.subtitle }}</h2>

    <div class='post__btn-container' *ngIf='isAdmin'>
        <a class='btn post__btn' (click)='sendPostToEditor()' routerLink='/blog/posts/editor'>
            &#x270F;
        </a>
        <a class='btn post__btn btn--warn' (click)='deletePost(post.id)' routerLink='/blog'>
            &#x2715;
        </a>
    </div>
    
    <p class='post__date' [innerHtml]='"Updated: " + seoService.getFormattedDate(post.updated_at)'></p>
    
    <div class='post__topic-container'>
        <a class='post__topic-item' (click)='blogTopicService.setActiveTopic(topic)' [routerLink]="['/blog']" *ngFor='let topic of post.topics trackBy: this.trackingService.objectById'>
            {{ topic.name }}
        </a>
    </div>

    <div class="line-divider"></div>
    
    <div class='post__image-container'>
        <picture>
            <source [srcset]='fileService.getImageUri(post.image_url, "webp")' type='image/webp'>
            <source [srcset]='fileService.getImageUri(post.image_url, "png")' type='image/png'>
            <img class='post__image' [alt]='"Image for post: " + post.title' [src]='fileService.getImageUri(post.image_url, "png")'>
        </picture>
    </div>

    <markdown [data]='post.content'></markdown>
</div>

<ng-template #loading>
    <ui-loading-spinner></ui-loading-spinner>
</ng-template>