@import 'variables';

.btn {
    background-color: $color-dark;
    border: 2px solid $color-primary;
    border-radius: 1000px;
    color: $color-primary;
    cursor: pointer;
    display: inline-block;
    height: $btn-height;
    margin-bottom: $quarter-margin;
    text-align: center;
    transform: perspective(1px) translateZ(0);
    transition-duration: $btn-active-transition-duration;
    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-transform-duration: $btn-active-transition-duration;
    -webkit-transition-property: transform;

    &--active, &:active {
        background-color: $color-primary;
        color: $color-dark;
    }

    &:active {
        transform: scale($btn-active-transition-scale);
        -webkit-transform: scale($btn-active-transition-scale);
    }

    &--go {
        border: 2px solid $color-go;
        color: $color-go;
    }

    &--go:active {
        background-color: $color-go;
        color: $color-dark;
    }

    &--hide {
        display: none;
    }

    &--warn {
        border: 2px solid $color-warn;
        color: $color-warn;
    }

    &--warn:active {
        background-color: $color-warn;
        color: $color-dark;
    }

    &--inactive {
        border: 2px solid $color-light;
        color: $color-light;
        cursor: auto;
        pointer-events: none;
    }
}

@media only screen and (min-width: 768px) {
    .btn {
        &:hover {
            background-color: $color-primary;
            color: $color-dark;
        }

        &--warn:hover {
            background-color: $color-warn;
            color: $color-dark;
        }

        &--go:hover {
            background-color: $color-go;
            color: $color-dark;
        }

        &--inactive:hover {
            background-color: $color-dark;
            color: $color-primary;
        }
    }
}