@use 'variables' as *;

.editor {
    min-height: calc(100vh - #{$header-height} - #{$footer-height} * 2 - #{$section-divider-height});
}

.editor__header {
    text-align: center;
    margin-bottom: $margin;
}

.editor__form {
    text-align: left;
}

.editor__form-field {
    margin-bottom: $margin;

    input, textarea {
        width: 100% !important;
    }
}

.file-input__label {
    background-color: $color-primary;
    border: 0.1rem solid $color-primary;
    border-radius: 0.2rem;
    color: $color-dark;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    &:active {
        //background-color: $color-dark;
        //border-color: $color-dark;
        //color: $color-primary;
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transition: transform $btn-active-transition-duration ease;
        -webkit-transition: transform $btn-active-transition-duration ease;
    }
}

.file-input__field {
    display: none;
}

.editor__form-btn-container {
    width: $btn-height;
}

.editor__form-btn {
    height: $btn-height;
    margin-top: $half-margin;
    max-width: 312px;
    width: 100%;

    &--submit {
        font-size: 120%;
    }
}

.mat-checkbox {
    .mat-checkbox-inner-container {
        margin-right: $quarter-margin;
    }
    .mat-checkbox-label {
        color: $color-white;
        font-family: $font-stack;
    }
}

.mat-radio-button {
    margin: 0 $half-margin $half-margin 0;

    .mat-radio-label-content {
        font-family: $font-stack;
    }
}

.editor__profile-btn {
    &--add {
        height: $small-btn-height;
        font-size: 160%;
        width: $small-btn-width;
    }

    &--edit {
        height: $extra-small-btn-height;
        width: $tiny-btn-width;
    }

    &--warn {
        font-size: 90%;
        height: $extra-small-btn-height;
        width: $extra-small-btn-width;
    }
}

.editor__profile-btn-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $half-margin;

    input {
        width: 50%;
    }
}

.form__checkbox-item {
    margin-bottom: $half-margin;
}

.editor__profile-form-field {
    max-width: 60%;
    margin-right: $half-margin;
}

.editor__form-field-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    ::ng-deep .section-divider {
        height: 14vh !important;
    }

    .editor__profile-btn {
        &--edit, &--warn {
            font-size: 120%;
            height: $small-btn-height;
            width: $small-btn-width;
        }
    }
}
