@import 'variables';

.form-field {

    input, textarea {
        border-radius: 1px;
        box-sizing: border-box;
        font-size: 100%;
        width: 50%;
    }

    input {
        height: $input-height;
        padding: $half-padding $quarter-padding;

        &--password {
            font-size: 20px;
        }
    }

    textarea {
        height: $textarea-height;
        max-width: 100%;
        min-width: 100%;
        padding: $quarter-padding;
    }

    &--external {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: $margin;
    }

    &--large {
        textarea {
            height: 32vh;
        }
    }
}

.form-field-label {
    font-weight: 700;
    font-size: 125%;
}

@media only screen and (min-width: 768px) {
    input, textarea {
        font-size: 110%;
    }

    .form-field--password input {
        font-size: 24px;
    }
}