@import 'variables';

markdown ::ng-deep h1,
markdown ::ng-deep h2,
markdown ::ng-deep h3,
markdown ::ng-deep h4,
markdown ::ng-deep h5,
markdown ::ng-deep h6 {
    margin: calc(#{$margin} * 1.75) 0 calc(#{$margin} * 0.75);
}

markdown ::ng-deep p,
markdown ::ng-deep img {
    margin: $margin 0;
}

markdown ::ng-deep pre {
    margin: calc(#{$half-margin} * 1.0) 0 calc(#{$half-margin} * 1.5); 
}

markdown ::ng-deep a {
    color: $color-primary;
    display: inline-block;
}

markdown ::ng-deep div img {
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

markdown ::ng-deep img {
    border: 1px solid black;
    height: auto;
    text-align: center;
    width: 100%;
}

markdown ::ng-deep p code {
    background-color: $color-dark-light;
    box-sizing: border-box;
    color: $color-white;
    margin: 0 calc(#{$quarter-margin} / 2);
    padding: calc(#{$quarter-padding} / 4) calc(#{$quarter-padding} / 2);
}

markdown ::ng-deep .text {
    &--note {
        color: $color-primary;

        &-paragraph {
            color: $color-primary-light;
        }
    }

    &--caution {
        color: $color-caution;

        &-paragraph {
            color: $color-caution-light;
        }
    }

    &--warn {
        color: $color-warn;

        &-paragraph {
            color: $color-warn-light;
        }
    }

    &--tip {
        color: $color-go;

        &-paragraph {
            color: $color-go-light;
        }
    }
}

@media only screen and (min-width: 768px) {
    markdown ::ng-deep a:hover {
        text-decoration: underline;
    }

    markdown ::ng-deep img {
        width: 64%;
    }
}