@use 'variables' as *;

.modal {
    color: $color-white;
    display: block;
    position: fixed;
    z-index: 1000;
    transition: opacity;
}

.modal__background {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 900;
}

.modal__close-btn-container {
    align-content: center;
    display: flex;
    flex-direction: row;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(1.5 * #{$btn-height});
    justify-content: space-between;

    .modal__close-btn {
        background-color: $color-dark;
        color: $color-primary;
        cursor: pointer;
        font-size: 150%;
        height: calc(1.5 * #{$btn-height});
        border-top-left-radius: 0.5rem;
        padding: $quarter-padding calc(1 * #{$padding});
    }
}

.modal__body {
    background: $color-dark;
    border-radius: 0.5rem;
    bottom: $modal-vertical-res;
    left: $modal-horizontal-res;
    padding: calc(2 * #{$padding}) calc(1.5 * #{$padding}) calc(2 * #{$padding});
    position: fixed;
    right: $modal-horizontal-res;
    top: $modal-vertical-res;
    z-index: 1100;
}

.modal__content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .modal__header {
        text-align: center;
        margin-bottom: calc(2 * #{$margin});
    }

    .modal__info {
        margin-bottom: $margin;
    }
}

.show {
    opacity: 1.0;
    pointer-events: all;

    .modal__body {
        animation: open 1s forwards;
    }
}

.hidden {
    opacity: 0.0;
    pointer-events: none;
}

@keyframes open {
    0% {
        opacity: 0.0;
        transform: scale(0.75);
    }
    25% {
        transform: scale(1.0);
    }
    100% {
        opacity: 1.0;
    }
}

@media only screen and (min-width: 768px) {
    .modal__background {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

    .modal__close-btn-container button:hover {
        background-color: $color-primary;
        color: $color-dark;
    }

    .modal__body {
        bottom: $modal-vertical;
        left: $modal-horizontal;
        padding: calc(3 * #{$padding}) calc(2 * #{$padding}) calc(2 * #{$padding});
        right: $modal-horizontal;
        top: $modal-vertical;
    }
}
