.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    background-color: $color-dark;
    color: $color-white;
    padding: $padding;
    margin: 0 auto;
    max-width: 1020px;
}