// COLORS
$color-white: rgb(252, 253, 255);
$color-light: rgb(172, 181, 199);
$color-primary: rgb(188, 213, 255);
$color-secondary: rgb(75, 97, 133);
$color-dark: rgb(64, 72, 87);
$color-warn: rgb(255, 160, 182);
$color-go: rgb(155, 236, 143);

// LAYOUTS
$footer-height: 6vh;
$header-height: 8vh;
$small-icon-height: 3vh;
$icon-height: 5vh;
$image-height: 50vh;

$half-page-height: 46vh;
$page-height: 92vh;

$line-divider-height: 1.5px;
$section-divider-height: 15vh;

// BUTTONS
$btn-height: 48px;
$large-btn-height: 56px;
$small-btn-height: 36px;
$extra-small-btn-height: 24px;

$large-btn-width: 232px;
$btn-width: 176px;
$small-btn-width: 64px;
$extra-small-btn-width: 48px;
$tiny-btn-width: 32px;

// INPUT
$input-height: 3vh;
$textarea-height: 15vh;

// MARGIN
$margin: 2rem;
$half-margin: 1rem;
$quarter-margin: 0.5rem;
$eighth-margin: 0.25rem;

// PADDING
$one-and-half-padding: 3rem;
$padding: 2rem;
$half-padding: 1rem;
$quarter-padding: 0.5rem;

// ANIMATION
$anchor-active-transition-duration: 0.075s;

$btn-active-transition-duration: 0.06s;
$btn-active-transition-scale: 0.95;

$icon-active-transition-duration: 0.06s;
$icon-active-transition-scale: 0.95;

$navbar-transition-duration: 0.3s;

$sidebar-transition-duration: 0.15s;

$main-logo-animation-duration: 0.6s;
$main-logo-animation-delay: 0.2s;

$menu-icon-animation-duration: 0.2s;
$menu-icon-animation-scale-start: 0.85;
$menu-icon-animation-scale-end: 1.15;