.about-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100vw;
    .about-text-container {
        color: $black-text;
        h2 {
            font-family: "GT Sectra";
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
        p {
            color: $grey-text;
            font-family: "Louis George Cafe";
            font-size: 1.25rem;
            line-height: 2rem;
            margin-bottom: 2rem;
        }
        .about-icon-container {
            display: inline;
            padding-bottom: $padding-top;
            svg {
                fill: $black-text;
                height: 2rem;
                margin-right: 2rem;
            }
        }
    }
    .about-image-container {
        height: auto;
        img {
            border: 1px solid $black;
            height: auto;
            width: 100%;
        }
    }
    & > div {
        height: 45vh;
        padding: $padding-top $padding-side 0;
    }
}

@media (min-width: 760px) {
    .about-container {
        flex: 1 0 0;
        flex-direction: row;
        padding: $padding-top $text-container-padding-side;
        .about-text-container {
            padding: $text-container-padding-top $text-container-padding-side $text-container-padding-top 0;
            .about-icon-container {
                a {
                    svg {
                        transition: 0.2s;
                        &:hover {
                            transform: translateY(-0.25rem);
                            fill: lighten($black-text, 10);
                        }
                    }
                }
            }
        }
        .about-image-container {
            img {
                height: auto;
                max-height: 80vh;
                width: 31vw;
            }
        }
    }
}