.landing-container {
    max-width: 100%;
    height: $landing-height;
    background-color: lighten($offWhite, 1);
    color: $black-text;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: $landing-padding-top $padding-side $padding-bottom;
    .tagline-container {
        .landing-header {
            margin-right: 0;
            font-size: 3rem;
        }
        .landing-sub-header {
            font-family: Louis George Cafe, sans-serif, arial;
            font-weight: 300;
            margin-top: 1rem;
            opacity: 0.7;
        }
    }
    .scroll-container {
        text-align: center;
        justify-content: flex-end;
    }
    a {
        font-family: "Louis George Cafe";
        font-size: 1.5rem;
        color: lighten($black, 40);
        text-decoration: none;
    }
}

// MOBILE (LANDSCAPE)
@media (max-width: 850px) and (max-height: 420px) {
    .landing-container {
        padding: 10vh $padding-side 3rem;
    }
}

// DESKTOP 
@media (min-height: 1000px) and (min-width: 1300px) {
    .landing-container {
        a {
            display: inline-block;
            transition: 0.5s;
        }
        .tagline-container a {
            &:hover {
                transform: translateX(30px);
            }
        }
        .scroll-container a {
            &:hover {
                transform: translateY(30px);
            }
        }
    }
}


