@import 'variables';

.landing {
    display: flex;
    flex-direction: column;
    height: $page-height;
    justify-content: center;
}

.landing__header {
    color: $color-primary;
    font-weight: 300;
    margin-bottom: $margin;

    &--highlight {
        color: $color-white;
        font-weight: 700;
    }
}

.landing__tagline {
    color: $color-light;
    font-weight: 500;
    margin-bottom: $margin;
}

.landing__landing {
    color: $color-light;
    font-weight: 400;
    margin-bottom: $margin;
}

.landing__contact-btn {
    height: $header-height;
    line-height: $header-height;
    width: 40vw;
}