<div>
    <h1>Post Editor</h1>
    <br>

    <div class='form-group'>
        <form class='example-form' [formGroup]='postForm' (ngSubmit)='onSubmit()'>
            <mat-form-field class='example-full-width'>
                <mat-label>Title</mat-label>
                <input matInput formControlName='title' required>
            </mat-form-field>
            <br>

            <mat-form-field class='example-full-width'>
                <mat-label>Subtitle</mat-label>
                <input matInput formControlName='subtitle' required>
            </mat-form-field>
            <br><br>

            <mat-label>Topics</mat-label>
            <br><br>
            <ng-container formArrayName='topics' *ngFor='let topic of postForm.controls.topics["controls"]; let idx = index'>
                <mat-checkbox class='example-margin' [formControlName]='idx'>{{ topics[idx].name }}</mat-checkbox>
                <br><br>
            </ng-container>

            <mat-form-field class='example-full-width'>
                <mat-label>Author</mat-label>
                <input matInput formControlName='author' required>
            </mat-form-field>
            <br>

            <mat-form-field class='example-full-width'>
                <mat-label>Description</mat-label>
                <input matInput formControlName='description' required>
            </mat-form-field>
            <br>

            <mat-form-field class='example-full-width'>
                <mat-label>Content</mat-label>
                <textarea matInput formControlName='content' required></textarea>
            </mat-form-field>
            <br>
            
            <mat-form-field class='example-full-width'>
                <mat-label>Featured Image</mat-label>
                <input matInput formControlName='imageURL' required>
            </mat-form-field>
            <br>
            
            <br>
            <button mat-flat-button color='primary' [disabled]='!postForm.valid'>Submit Post</button>
        </form>
    </div>
</div>