@import 'variables';

.editor {
    background-color: $color-dark;
    color: $color-white;
    min-height: $page-height;
    padding: 0 $padding;
}

.editor__header {
    text-align: center;
    margin-bottom: $margin;
}

.editor__form {
    text-align: left;
}

.editor__form-field {
    margin-bottom: $margin;

    input, textarea {
        border-radius: 1px;
        box-sizing: border-box;
        width: 100%;
    }
    
    input {
        height: $input-height;
        padding: 0 $quarter-padding;
    }

    textarea {
        height: $textarea-height;
        max-width: 100%;
        min-width: 100%;
        padding: $quarter-padding;
    }
}

.editor__form-btn {
    background-color: $color-dark;
    border: 2px solid $color-primary;
    border-radius: 1000px;
    color: $color-primary;
    height: $btn-height;
    line-height: $btn-height;
    margin: $margin 0;
    text-align: center;
    width: 100%;

    &:active {
        background-color: $color-primary;
        color: $color-dark;
    }

    &--inactive {
        border: 2px solid $color-light;
        color: $color-light;
    }
}