<div class='editor'>
    <h1 class='editor__header'>Editor</h1>

    <form class='editor__form' [formGroup]='postForm' (ngSubmit)='onSubmit()'>
        <div class="form-field editor__form-field">
            <label>Title</label>
            <br><br>
            <input formControlName='title' required autofocus>
        </div>

        <div class="form-field editor__form-field">
            <label>Subtitle</label>
            <br><br>
            <input formControlName='subtitle' required>
        </div>

        <div class="form-field editor__form-field">
            <label>Topics</label>
            <br><br>
            <ng-container formArrayName='topics' *ngFor='let topic of postForm.controls.topics["controls"]; let idx = index'>
                <mat-checkbox [formControlName]='idx'>{{ topics[idx].name }}</mat-checkbox>
                <br>
            </ng-container>
        </div>

        <div class="form-field editor__form-field">
            <label>Author</label>
            <br><br>
            <input formControlName='author' required>
        </div>

        <div class="form-field editor__form-field">
            <label>Description</label>
            <br><br>
            <input formControlName='description' required>
        </div>

        <div class="form-field editor__form-field">
            <label>Content</label>
            <br><br>
            <textarea formControlName='content' required></textarea>
        </div>

        <div class="form-field editor__form-field">
            <label>Image</label>
            <br><br>
            <input formControlName='imageURL' required>
        </div>

        <button
            [ngClass]="{'btn--inactive': !postForm.valid}"
            class='btn editor__form-btn'
            [disabled]='!postForm.valid'
        >
            Submit
        </button>
    </form>
</div>

<div class="section-divider"></div>