<div class='section projects'>
    <h2 class='projects__header'>Projects</h2>

    <div class='projects__line-divider line-divider'></div>

    <div class='container projects__project-container'>
        <div class='projects__project' *ngFor='let project of projects; let idx = index' [ngClass]="{'projects__project--rjust': idx % 2 === 0}">
            <div class='projects__project-background' [ngStyle]="{ 'background-image': 'url(' + project.image_url + ')' }"></div>
            <h3 class='projects__project-name'>{{ project.name }}</h3>

            <h4 class='projects__project-tagline'>{{ project.tagline }}</h4>
            <p class='projects__project-description'>{{ project.description }}</p>

            <div class='projects__project-ext-container'>
                <app-icon class= 'projects__project-ext-item' [name]='project.external_url'></app-icon>
            </div>
        </div>
    </div>
</div>
