@import 'variables';

.projects {

}

.projects__header {

}

.projects__project-container {

}

.projects__project-anchor-wrapper {

}

.projects__project {
    background-color: darken($color-dark, 7);
    height: auto;
    position: relative;

    &-background {
        background-color: $color-dark;
        background-origin: content-box;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 100%;
        opacity: 0.15;
        pointer-events: none;
        position: absolute;
        width: 100%;
    }

    &-name,
    &-description,
    &-ext-container {
        padding: $half-padding $padding;
    }

    &-name {
        color: $color-primary;
        padding-top: $padding;
    }

    &-tagline {
        color: $color-white;
    }

    &-description {
        color: $color-light;
    }

    &-ext-container {
        display: flex;
        flex-direction: row;
        padding-bottom: $one-and-half-padding;
    }

    &-ext-item {
        margin-right: $half-margin;
    }

    &--rjust {
        &-name,
        &-tagline,
        &-description {
            text-align: right;
        }

        &-ext-container {
            justify-content: flex-end;
        }
    }
}

.projects__project--rjust {
    .projects__project-name,
    .projects__project-tagline,
    .projects__project-description {
        text-align: right;
    }

    .projects__project-ext-container {
        justify-content: flex-end;
    }
}
