<div class='section projects'>
    <h2 class='projects__header'>Projects</h2>

    <div class='projects__line-divider line-divider'></div>

    <div class='container projects__project-container'>
        <div class='projects__project' *ngFor='let project of projects; let idx = index' [ngClass]="{'projects__project--rjust': idx % 2 === 0}">
            <div class='projects__project-background' [ngStyle]="{ 'background-image': 'url(https://mattmaxwell.tech/' + project.image_url + ')' }"></div>

            <a *ngIf='authService.isLoggedIn()' class='projects__project-anchor-wrapper' [routerLink]="['/projects/' + project.id]">
                <h3 class='projects__project-name'>{{ project.name }}</h3>
            </a>

            <h3 *ngIf='!authService.isLoggedIn()' class='projects__project-name'>{{ project.name }}</h3>

            <h4 class='projects__project-tagline'>{{ project.tagline }}</h4>
            <p class='projects__project-description'>{{ project.description }}</p>

            <a class='projects__project-link' [href]='project.link_url' target='_blank'>
                <app-icon class= 'projects__project-link-icon' [name]='project.link_name'></app-icon>
            </a>
        </div>
    </div>
</div>
