<div class='section editor topic-editor' *ngIf='isLoaded; else loading'>
    <h1 class='editor__header'>Topic Editor</h1>

    <div class="line-divider"></div>

    <form class='editor__form' [formGroup]='topicForm' (ngSubmit)='onSubmit()'>
        <div class='form-field editor__form-field'>
            <label class='form-field-label editor__form-field-label'>Name</label>
            <br><br>
            <input formControlName='name' required autofocus>
        </div>

        <div class="form-field editor__form-field">
            <label class='form-field-label editor__form-field-label'>Description</label>
            <br><br>
            <input formControlName='description' required>
        </div>

        <button
            aria-label='Submit topic'
            [ngClass]="{'btn--inactive': !topicForm.valid}"
            class='btn editor__form-btn  editor__form-btn--submit'
            [disabled]='!topicForm.valid'
        >
            Submit
        </button>
    </form>
</div>

<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>