<h2 class="page-header">Welcome to the editor !</h2>
<form (ngSubmit)="onEditorSubmit()">
    <div class="form-group">
        <label>Title</label>
        <input type="text" [(ngModel)]="title" name="title" class="form-control">
    </div>
    <div class="form-group">
        <label>Subtitle</label>
        <input type="text" [(ngModel)]="subtitle" name="subtitle" class="form-control">
    </div>
    <label>Topics</label>
    <br><br>
    <div *ngFor="let topic of topics" class="form-group">
        <input type="checkbox" (change)="topic.isSelected = !topic.isSelected" ng-model="topic" ng-attr-name="topic">
        &nbsp;
        <label>{{ topic.name }}</label>
    </div>
    <div class="form-group">
        <label>Author</label>
        <input type="text" [(ngModel)]="author" name="author" class="form-control">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" [(ngModel)]="description" name="description" class="form-control">
    </div>
    <div class="form-group">
        <label>Content</label>
        <input type="text" [(ngModel)]="content" name="content" class="form-control">
    </div>
    <div class="form-group">
        <label>Image URLs</label>
        <input type="text" [(ngModel)]="imageUrls" name="imageUrls" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit Post">
</form>